*
{
	margin: 0;
	font-family: "黑体";
}

.personalPage
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 65px;
	text-align: center;
	min-width: 1200px;
	background-color: #F2F2F2;
}

.personalInf
{
	position: relative;
	width: 77.8%;
	height: 120px;
	top: 25px;
	margin: auto;
	font-size: 16px;
}

.personalIndex
{
	position: relative;
	width: 77.8%;
	height: 95px;
	top: 50px;
	margin: auto;
	font-family: "黑体";
	font-size: 16px;
	min-width: 1000px;
}

.personalContent
{
	position: relative;
	width: 77.8%;
	height: 100%;
	top:75px;
	margin: auto;
}

#personalInf_pic
{
	position: relative;
	width: 120px;
	height: 120px;
	float: left;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	/*src: url(../../img/personal/personalPicture.png);*/
}

#personalInf_text
{
	position: relative;
	width: 312px;
	height: 120px;
	float: left;
	left: 40px;
	display: inline-block;
	text-align: left;
	
}

#personalInf_relation
{
	position: absolute;
	width: 400px;
	height: 120px;
	float: right;
	right: 0;
	display: inline-block;
	text-align: right;
}


#personalIndex_1
{
	position: relative;
	width:32.5%;
	height: 95px;
	display: inline-block;
	float: left;
}



/*#personalIndex_1:hover,#personalIndex_2:hover,#personalIndex_3:hover
{
	background-color: #FF6666;
}*/

#personalIndex_2
{
	position: relative;
	width:32.5%;
	height: 95px;
	margin: 0 auto;
	display: inline-block;
}

#personalIndex_3
{
	position: relative;
	width:32.5%;
	height: 95px;
	display: inline-block;
	float: right;
}

.personalIndex_tag
{
	cursor: pointer;
	line-height: 95px;
	text-align: center;
	background-color: #FFFFFF;
}


.personalIndex_1
{
	background-color: #FF6666;
}

.picture
{
	width: 100%;
	height: 100%;
}

#personalInf_text_name
{
	margin-top: 5px;
	font-size: 24px;
	color: #FF6666;
}

#personalInf_text_info
{
	margin-top: 27px;
}

#personalInf_text_line
{
	margin-top: 23px;
}

#personalInf_relation_fans
{
	margin-top: 59px;
}

#personalInf_relation_fans strong
{
	color: #FF6666;
	cursor: pointer;
}

#personalInf_relation_info
{
	margin-top: 23px;
	color: #999999;
}

.personalIndex_tag_selected
{
	background-color: #FF6666;
}


