*
{
	word-break: break-all;
}

ul
{
	padding: 0;
}

a
{
	text-decoration: none;
}

.message_content_area
{
	position: relative;
	height: 100%;
	min-height: 660px;
	min-width: 1002px;
	width: 1002px;
	margin:64px auto auto;
	padding: 30px 0 0 0;
}

.myMessage_container
{
	width: 980px;
	min-height: 630px;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 30px;
	position: relative;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.myMessage_index
{
	width: 192px;
	height: 100%;
	background-color: #FAFAFA;
	border-right: solid 1px #CCCCCC;
	display: inline-block;
	position: absolute;
}

.myMessage_content
{
	width: 787px;
	height: 100%;
	float: right;
	display: inline-block;
}

.myMessage_index_message,.myMessage_index_set
{
	height: 67px;
	padding: 0 24px;
	font: bold 18px "黑体";
	color: #333333;
	line-height: 67px;
	border-right: solid 1px #CCCCCC;
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
}

.index_message
{
	height: 48px;
	padding: 0 10px 0 40px;
	font: 16px "黑体";
	color: #666666;
	line-height: 48px;
}

.index_message_checked,.index_message:hover
{
	color: #0090CC;
	border-left: solid 6px #0090CC;
	box-shadow: 4px 0 6px rgba(0,0,0,0.2) inset;
	border-right: none;
	background-color: #FFFFFF;
	width: 137px;
}

.message_num
{
	display: inline-block;
    border-radius: 10px;
    background-color: #F05656;
    font: 9px arial;
    color: #ffffff;
    text-align: center;
    float: right;
    line-height: 12px;
    margin: 15px auto;
    letter-spacing: 0;
}

.message_num_padding
{
	padding: 2px 5px;
}

.myMessage_reply,.myMessage_aite,.myMessage_like,.myMessage_notice
{
	margin: 20px 25px 0 27px;
	padding-right: 55px;
	padding-bottom: 20px;
	border-bottom: dashed 1px #CCCCCC;
}

.myMessage_fans,.myMessage_letter
{
	margin: 20px 25px 0 27px;
	padding-right: 55px;
	padding-bottom: 20px;
	border-bottom: dashed 1px #CCCCCC;
	min-height: 50px;
}

.myMessage_reply_pic,.myMessage_aite_pic,.myMessage_like_pic,.myMessage_fans_pic,.myMessage_letter_pic
{
	width: 50px;
	height: 50px;
	background-color: #A4A4A4;
	border-radius: 5px;
	margin-right: 10px;
	display: inline-block;
	float: left;
}

.myMessage_reply_pic img,.myMessage_aite_pic img,.myMessage_like_pic img,.myMessage_fans_pic img,.myMessage_letter_pic img
{
	width: 100%;
	height: 100%;
}

.myMessage_reply_content,.myMessage_aite_content,.myMessage_like_content,.myMessage_fans_content,.myMessage_letter_content
{
	width: 620px;
	display: inline-block;
	float: left;
}

.myMessage_notice_content
{
	width: 100%;
	display: inline-block;
	float: left;
}

.myMessage_reply_name,.myMessage_aite_name,.myMessage_like_name,.myMessage_notice_title,.myMessage_letter_name
{
	margin-top: 5px;
}

.myMessage_fans_name
{
	margin-top: 5px;
	display: inline-block;
	width: 550px;
}

.msg_fans_num
{
	display: inline-block;
	margin-left: 50px;
	font: 13px "微软雅黑";
	color: #333333;
}

.msg_fans_num span
{
	margin-right: 20px;
	font: 13px "微软雅黑";
	color: #0090CC;
	letter-spacing: 0.5px;
}

.msg_reply_name,.msg_aite_name,.msg_like_name,.msg_fans_name,.msg_notice_title,.msg_letter_name
{
	font: bold 16px "黑体";
	color: #333333;
}

.msg_reply_time,.msg_aite_time,.msg_like_time,.msg_notice_time,.msg_letter_time
{
	font: 12px arial;
	color: #999999;
	float: right;
	letter-spacing: 0.5px;
}

.msg_reply_content,.msg_aite_content,.msg_notice_content
{
	font: 13px "微软雅黑";
	color: #333333;
	margin-top: 12px;
	line-height: 1.5em;
	letter-spacing: 0.5px;
}

.msg_notice_content
{
	color: #999999;
}

.msg_like_content,.msg_fans_content
{
	font: 13px "微软雅黑";
	color: #999999;
	margin-top: 12px;
	line-height: 13px;
	letter-spacing: 0.5px;
}

.msg_aite_content span
{
	color: #0090CC;
	cursor: pointer;
}

.msg_reply_for,.msg_aite_for
{
	margin-top: 12px;
	padding: 10px;
	font: 13px "微软雅黑";
	color: #333333;
	background-color: #F2F2F2;
	line-height: 1.5em;
	letter-spacing: 0.5px;
}
.msg_like_for
{
	padding: 10px;
	font: 13px "微软雅黑";
	color: #333333;
	background-color: #F2F2F2;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	display: inline-block;
    width: 530px;
    white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 
}

.msg_reply_for span,.msg_aite_for span,.msg_like_for span
{
	color: #999999;
}

.myMessage_reply_title,.myMessage_aite_title,.myMessage_like_title
{
	margin-top: 15px;
}

.myMessage_letter_text
{
	margin-top: 5px;
}

.msg_reply_topicname,.msg_aite_topicname,.msg_like_topicname,.msg_letter_text
{
	font: 12px "微软雅黑";
	color: #999999;
	border-left: solid 3px #F05656;
	padding-left: 10px;
}

.msg_letter_text
{
	width: 530px;
	display: inline-block;
	font: 13px "微软雅黑";
	color: #333333;
	border: none;
	padding: 3.5px 10px;
	background-color: #F2F2F2;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}

.msg_aite_topicname_type2
{
	font: 16px "微软雅黑";
	color: #333333;
	background-color: #F2F2F2;
	width: 537px;
    display: inline-block;
}

#myMessage_reply_btn,#myMessage_aite_btn,#myMessage_like_btn
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	height: 16px;
	float: right;
	text-align: right;
	font: 12px "微软雅黑";
	color: #999999;
	padding-left: 21px;
	line-height: 16px;
	background: url(../../img/topic/icon_comment_blue.png) no-repeat;
}

#myMessage_like_btn
{
	margin: 12px auto;
}

#myMessage_fans_btn
{
	margin: 0;
	padding: 0 6px;
	border: solid 1px #0090CC;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	width: 64px;
	height: 24px;
	float: right;
	text-align: right;
	font: bold 14px "黑体";
	color: #333333;
	padding-left: 21px;
	background: url(../../img/browse/specialTopic/icon_concern.png) no-repeat;
}

#myMessage_letter_btn
{
	margin: 4px auto;
	padding: 0 4px;
	border: none;
	outline: none;
	cursor: pointer;
	height: 16px;
	min-width: 16px;
	float: right;
	text-align: right;
	font: 12px "微软雅黑";
	color: #FFFFFF;
	line-height: 16px;
	background-color: #F05656;
	border-radius: 8px;
	letter-spacing: 0;
}

.myMessage_dialogue
{
	/*margin-left: 788px;*/
	width: 787px;
    height: 100%;
    /*position: absolute;*/
    background-color: #FFFFFF;
}

.dialogue_target_area
{
	height: 62px;
	border-bottom: solid 1px #CCCCCC;
	background-color: #FAFAFA;
	font-size: 0;
}

.dialogue_back_btn
{
	font-size: 50px;
	font-weight: bold;
	width: 62px;
	height: 62px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	float: left;
	line-height: 62px;
	color: #999999;
}

.dialogue_back_btn:hover
{
	background-color: #0090CC;
	color: #FFFFFF;
}

.dialogue_target_name
{
	height: 62px;
	display: inline-block;
	font-size: 30px;
	color: #999999;
	letter-spacing: 0;
	line-height: 62px;
	padding: 0 10px;
}

.dialogue_content_area
{
	padding: 10px 30px 10px 27px;
	height: 476px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogue_content_item_time
{
	text-align: center;
	font: 12px arial;
	color: #999;
	margin-bottom: 10px;
}

.dialogue_content_item
{
	font-size: 0;
	margin-bottom: 20px;
}

.dialogue_content_pic
{
	width: 50px;
	height: 50px;
	background-color: #999999;
	border-radius: 5px;
	float: left;
}

.dialogue_content_item_text
{
	max-width: 590px;
	display: inline-block;
	font: 13px "微软雅黑";
	color: #333333;
	vertical-align: top;
	float: left;
	margin: auto 10px;
	background-color: #FAFAFA;
	border: solid 1px #CCCCCC;
	padding: 10px;
	border-radius: 10px;
	line-height: 1.5em;
	letter-spacing: 0.5px;
}

.mydialogue_reply
{
	float: right;
}

.dialogue_operate_area
{
	width: 733px;
    height: 100px;
	padding: 10px 27px;
	background-color: #F2F2F2;
	border-top: solid 1px #CCCCCC;
	position: absolute;
	bottom: 0;
}

.dialogue_operate_area form
{
	font-size: 0;
}

.dialogue_operate_input
{
	width: 710px;
	height: 50px;
	outline: none;
	padding: 10px;
	resize: none;
	font: 13px "微软雅黑";
	color: #333333;
}

.dialogue_operate_insert
{
	height: 20px;
	width: 100%;
	margin-top: 10px;
	line-height: 20px;
}

.dialogue_operate_insert input
{
	height: 20px;
	float: right;
	outline: none;
	background-color: #0090CC;
	border: none;
	font:10px "微软雅黑";
	color: #FFFFFF;
	border-radius: 3px;
	cursor: pointer;
}

.dialogue_operate_insert img
{
	margin-right: 8px;
}
