<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body class="iframe_body">
		<div class="topic_comment_area_top">
			<div class="comment_top">
				<div class="comment_support_num">
					<p>62</p>
				</div>
				<div class="comment_support_btn">
					<p>评论</p>
				</div>
				<div class="comment_oppose_num">
					<p>62</p>
				</div>
				<div class="comment_oppose_btn">
					<p>评论</p>
				</div>
				<div class="comment_top_text">
					<p>评论</p>
					<p>122</p>
				</div>
				
			</div>
		</div>
		<div class="topic_comment_area_main clearfloat">
			<!------- 正方评论区域-begin ------->
			<section id="cd-timeline" class="topic_comment_area_content cd-container cssanimations cd-timeline-support">
				<!-------正方评论框加载-begin-------->
				<div id="timeline_input_support" class="cd-timeline-block timeline_input_disply">
					<div class="cd-timeline-img cd-picture"><span class="close_input" >×</span></div>
					<div class="cd-timeline-content timeline-content-set-support">
						<div class="comment_input_header">
							<span class="comment_input_operate btn_emo"></span>
							<span class="comment_input_operate btn_img"></span>
							<span class="comment_operate_line"></span>
							<span class="comment_input_operate btn_bold">B</span>
							<span class="comment_input_operate btn_italic">1</span>
							<span class="comment_input_operate btn_underline">1</span>
							<span class="comment_input_operate btn_color">1</span>
						</div>
						<div class="comment_input_content">
							<textarea class="comment_input_area"></textarea>
						</div>
						<div class="comment_input_footer">
							<span class="comment_input_stand_support">支持</span>
							<input type="button" id="comment_input_btn_support" class="comment_input_btn" value="发布" />
						</div>
					</div>
				</div><!-------正方评论框加载-end-------->
				
				<!-------正方评论-begin------->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">P</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">1</a>
								</div>
								<div class="pikachu_time">2016/07/20 11:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>1</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">更丰富的精神分类的个人虐无二个呢瑞个我会每次真理惟一可靠的标准就是永远自相符合。 —— 欧文</div>
						<div class="comment_footer mark colorRed">
							<div class="comment_footer1">
								<span>11条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
						
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
						<div class="comment_reply_item" commenttype="support">
							<div class="isay_area">
								<div class="isay_support_avatar">
									<a href="#cd-timeline">
										<img src="../../../img/unlogin.png">
									</a>
								</div>
								<div class="isay_support_like">23<br>赞</div>
								<div class="isay_content">
									<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
									<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
								</div>
							</div>
							<div class="isay_time">07/19 11:59</div>
							<div class="isay_operate_area">
								<div class="isay_operate isay_operate_reply">
									<span>回复</span>
								</div>
								<div class="isay_operate isay_operate_like">
									<span>赞</span>
								</div>
								<div class="isay_operate isay_operate_report">
									<span>举报</span>
								</div>
							</div>
							<div class="isay_floor">#1</div>
							<form class="isay_text_area isay_text_area_mark" action="" method="post">
								<textarea class="target1"></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="submit" id="comment_btn" value="评论">
									<input class="comment_reply_cancel" type="button" value="取消">
								</div>
							</form>
						</div>
						<div class="comment_reply_item" commenttype="oppose">
							<div class="isay_area">
								<div class="isay_oppose_avatar">
									<a href="#cd-timeline">
										<img src="../../../img/unlogin.png">
									</a>
								</div>
								<div class="isay_oppose_like">1<br>赞</div>
								<div class="isay_content">
									<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：回复
									<a href="#cd-timeline" class="reply_name reply_name_o">是的</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
								</div>
							</div>
							<div class="isay_time">07/19 11:59</div>
							<div class="isay_operate_area">
								<div class="isay_operate isay_operate_reply">
									<span>回复</span>
								</div>
								<div class="isay_operate isay_operate_like">
									<span>赞</span>
								</div>
								<div class="isay_operate isay_operate_report">
									<span>举报</span>
								</div>
							</div>
							<div class="isay_floor">#2</div>
							<form class="isay_text_area isay_text_area_mark" action="" method="post">
								<textarea class="target1"></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="submit" id="comment_btn" value="评论">
									<input class="comment_reply_cancel" type="button" value="取消">
								</div>
							</form>
						</div>
						<div class="comment_reply_item" commenttype="oppose">
							<div class="isay_area">
								<div class="isay_oppose_avatar">
									<a href="#cd-timeline">
										<img src="../../../img/unlogin.png">
									</a>
								</div>
								<div class="isay_oppose_like">2<br>赞</div>
								<div class="isay_content">
									<a href="#cd-timeline" class="reply_name reply_name_o">是的</a>：回复
									<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
								</div>
							</div>
							<div class="isay_time">07/19 11:59</div>
							<div class="isay_operate_area">
								<div class="isay_operate isay_operate_reply">
									<span>回复</span>
								</div>
								<div class="isay_operate isay_operate_like">
									<span>赞</span>
								</div>
								<div class="isay_operate isay_operate_report">
									<span>举报</span>
								</div>
							</div>
							<div class="isay_floor">#3</div>
							<form class="isay_text_area isay_text_area_mark" action="" method="post">
								<textarea class="target1"></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="submit" id="comment_btn" value="评论">
									<input class="comment_reply_cancel" type="button" value="取消">
								</div>
							</form>
						</div>
						<div class="comment_reply_item" commenttype="support">
							<div class="isay_area">
								<div class="isay_support_avatar">
									<a href="#cd-timeline">
										<img src="../../../img/unlogin.png">
									</a>
								</div>
								<div class="isay_support_like">55<br>赞</div>
								<div class="isay_content">
									<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
									<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大2</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
								</div>
							</div>
							<div class="isay_time">07/19 11:59</div>
							<div class="isay_operate_area">
								<div class="isay_operate isay_operate_reply">
									<span>回复</span>
								</div>
								<div class="isay_operate isay_operate_like">
									<span>赞</span>
								</div>
								<div class="isay_operate isay_operate_report">
									<span>举报</span>
								</div>
							</div>
							<div class="isay_floor">#4</div>
							<form class="isay_text_area isay_text_area_mark" action="" method="post">
								<textarea class="target1"></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="submit" id="comment_btn" value="评论">
									<input class="comment_reply_cancel" type="button" value="取消">
								</div>
							</form>
						</div>
						<div class="comment_reply_item" commenttype="support">
							<div class="isay_area">
								<div class="isay_support_avatar">
									<a href="#cd-timeline">
										<img src="../../../img/unlogin.png">
									</a>
								</div>
								<div class="isay_support_like">23<br>赞</div>
								<div class="isay_content">
									<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
									<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
								</div>
							</div>
							<div class="isay_time">07/19 11:59</div>
							<div class="isay_operate_area">
								<div class="isay_operate isay_operate_reply">
									<span>回复</span>
								</div>
								<div class="isay_operate isay_operate_like">
									<span>赞</span>
								</div>
								<div class="isay_operate isay_operate_report">
									<span>举报</span>
								</div>
							</div>
							<div class="isay_floor">#5</div>
							<form class="isay_text_area isay_text_area_mark" action="" method="post">
								<textarea class="target1"></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="submit" id="comment_btn" value="评论">
									<input class="comment_reply_cancel" type="button" value="取消">
								</div>
							</form>
						</div>
					</div>
				</div><!-------正方评论-end------->
				
				<!-------正方评论-begin------->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">P</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">1</a>
								</div>
								<div class="pikachu_time">2016/07/20 12:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>1</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
						<div class="comment_footer mark colorRed">
							<div class="comment_footer1">
								<span>11条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------正方评论-end------->
				
				<!-------正方评论-begin------->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">P</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">1</a>
								</div>
								<div class="pikachu_time">2016/07/20 12:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>1</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
						<div class="comment_footer mark colorRed">
							<div class="comment_footer1">
								<span>11条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------正方评论-end------->
				
				<!-------正方评论-begin------->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">P</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">1</a>
								</div>
								<div class="pikachu_time">2016/07/20 12:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>1</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
						<div class="comment_footer mark colorRed">
							<div class="comment_footer1">
								<span>11条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------正方评论-end------->
				
				<!-------正方评论-begin------->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">P</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">1</a>
								</div>
								<div class="pikachu_time">2016/07/20 12:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>1</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
						<div class="comment_footer mark colorRed">
							<div class="comment_footer1">
								<span>11条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------正方评论-end------->
			</section> <!------- 正方评论区域-end ------->
			
			<!------- 反方评论区域-begin ------->
			<section id="cd-timeline" class="topic_comment_area_content cd-container cssanimations cd-timeline-oppose">
				<!-------反方评论框加载-begin-------->
				<div id="timeline_input_oppose" class="cd-timeline-block even-cd-timeline-block timeline_input_disply">
					<div class="cd-timeline-img cd-movie close_input">×</div>
					<div class="cd-timeline-content timeline-content-set-oppose">
						<div class="comment_input_header">
							<span class="comment_input_operate btn_emo"></span>
							<span class="comment_input_operate btn_img"></span>
							<span class="comment_operate_line"></span>
							<span class="comment_input_operate btn_bold">B</span>
							<span class="comment_input_operate btn_italic">1</span>
							<span class="comment_input_operate btn_underline">1</span>
							<span class="comment_input_operate btn_color">1</span>
						</div>
						<div class="comment_input_content">
							<textarea class="comment_input_area"></textarea>
						</div>
						<div class="comment_input_footer">
							<span class="comment_input_stand_oppose">反对</span>
							<input type="button" id="comment_input_btn_oppose" class="comment_input_btn" value="发布" />
						</div>
					</div>
				</div><!-------反方评论框加载-end-------->
				
				<!-------反方评论-begin------->
				<div class="cd-timeline-block even-cd-timeline-block">
					<div class="cd-timeline-img cd-movie">N</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">2</a>
								</div>
								<div class="pikachu_time">2016/07/20 13:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>2</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。 —— 蒙田</div>
						<div class="comment_footer mark colorBlue">
							<div class="comment_footer1">
								<span>22条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------反方评论-end------->
				
				<!-------反方评论-begin------->
				<div class="cd-timeline-block even-cd-timeline-block">
					<div class="cd-timeline-img cd-movie">N</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">2</a>
								</div>
								<div class="pikachu_time">2016/07/20 14:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>2</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。 —— 蒙田</div>
						<div class="comment_footer mark colorBlue">
							<div class="comment_footer1">
								<span>22条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------反方评论-end------->
				
				<!-------反方评论-begin------->
				<div class="cd-timeline-block even-cd-timeline-block">
					<div class="cd-timeline-img cd-movie">N</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">2</a>
								</div>
								<div class="pikachu_time">2016/07/20 14:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>2</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
						<div class="comment_footer mark colorBlue">
							<div class="comment_footer1">
								<span>22条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------反方评论-end------->
				
				<!-------反方评论-begin------->
				<div class="cd-timeline-block even-cd-timeline-block">
					<div class="cd-timeline-img cd-movie">N</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">2</a>
								</div>
								<div class="pikachu_time">2016/07/20 14:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>2</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
						<div class="comment_footer mark colorBlue">
							<div class="comment_footer1">
								<span>22条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------反方评论-end------->
				
				<!-------反方评论-begin------->
				<div class="cd-timeline-block even-cd-timeline-block">
					<div class="cd-timeline-img cd-movie">N</div>
					<div class="cd-timeline-content">
						<div class="comment_header">
							<div class="pikachusPic">
								<a href="../../../view/user/personal.html">
									<img src="../../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="pikachusName">
								<div class="pikachu_name">
									<a href="../../../view/user/personal.html">2</a>
								</div>
								<div class="pikachu_time">2016/07/20 14:52:12</div>
							</div>
							<div class="like_area">
								<div class="like" ischecked="false">
									<div>2</div>
								</div>
								<div class="unlike" ischecked="false"></div>
							</div>
						</div>
						<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
						<div class="comment_footer mark colorBlue">
							<div class="comment_footer1">
								<span>22条评论</span>
							</div>
							<div class="comment_footer2">
								<span>回复</span>
							</div>
							<div class="comment_footer3">
								<span>举报</span>
							</div>
						</div>
					</div>
					<div class="comment_reply bounce-in" id="comment_reply">
						<div class="comment_reply_input">
							<div class="isay_text_area area_display">
								<textarea class="target1" id="target1" placeholder=""></textarea>
								<div class="isay_text_operate">
									<div class="isay_text_operate_emotion"></div>
									<div class="isay_text_operate_picture"></div>
									<div class="text_support">
										<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
										<label for="checkbox_support"></label>&nbsp;正方
									</div>
									<div class="text_oppose">
										<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
										<label for="checkbox_oppose"></label>&nbsp;反方
									</div>
									<input class="comment_btn" type="button" id="comment_btn" value="评论">
									<input class="comment_btn2" type="button" value="取消">
								</div>
							</div>
						</div>
						<div class="fallback">收起</div>
					</div>
				</div><!-------反方评论-end------->
				
			</section> <!------- 反方评论区域-end ------->
		</div>
		<!--<link rel="stylesheet" type="text/css" href="../../../css/main.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../css/browse/topic.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/browse/timeline.css"/>
		
		<script src="../../../js/jquery-1.11.1.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../../js/homeIndex.js"></script>
		<script type="text/javascript" src="../../../js/examples.js"></script>
		<script src="../../../js/browse/topic.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			$(".comment_footer1").click(function () {
//				alert("1");
//				iFrameHeight();
//			});
		</script>
	</body>
</html>
