<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="loadMod" class="loadMod">
		<div class="slideGroup multiple-items">	
	    	<!-------评论输入框-begin------->
		    <div id="comment_disply">
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_input">
			    	<!--晾衣架评论输入框操作按钮-->
					<div class="normalTopic_comment_input_operate">
						<span class="input_operate_emo"></span>
						<span class="input_operate_img"></span>
						<span class="input_operate_line"></span>
						<span class="input_operate_blod">B</span>
						<span class="input_operate_italic">I</span>
						<span class="input_operate_underline">U</span>
						<span class="input_operate_upper"></span>
					</div>
					<!--晾衣评论输入框内容-->
					<textarea class="normalTopic_comment_input_content"></textarea>
					<!--晾衣架评论输入框发布按钮-->
					<div class="normalTopic_comment_input_submit">
						<input type="button" id="comment_input_submit" value="发布" />
					</div>
					
				</div>
		    </div><!-------评论输入框-end------->
		    
		    <!-------单个评论条目-begin------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">**aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">123</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		<!-------回复评论区域-begin------->
		    		<div class="normalTopic_comment_reply" style="display: none;">
		    			<!--回复评论输入框-->
		    			<div class="reply_input">
		    				<textarea class="reply_input_text" name="reply"></textarea>
		    				<div class="reply_input_operate">
		    					<img src="../../../img/topic/emo.png">
		    					<img src="../../../img/topic/pic.png">
		    					<input type="button" id="reply_input_submit" value="评论" >
		    				</div>
		    			</div>
		    			<!--回复评论展示1-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称***</a>回复<a href="#reply_content" >昵称*</a>:是打*开*就*发*货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    				<div class="reply_content_input">
		    					<textarea class="reply_content_input_text" name="reply"></textarea>
		    					<div class="reply_content_input_operate">
		    						<img src="../../../img/topic/emo.png">
		    						<img src="../../../img/topic/pic.png">
		    						<input type="button" id="reply_content_input_submit" value="评论">
		    					</div>
		    				</div>
		    			</div>
		    			<!--回复评论展示2-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称2:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    				<div class="reply_content_input">
		    					<textarea class="reply_content_input_text" name="reply"></textarea>
		    					<div class="reply_content_input_operate">
		    						<img src="../../../img/topic/emo.png">
		    						<img src="../../../img/topic/pic.png">
		    						<input type="button" id="reply_content_input_submit" value="评论">
		    					</div>
		    				</div>
		    			</div>
		    			<!--回复评论展示3-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称2.5:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			<!--回复评论展示4-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称3:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			<!--回复评论展示5-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称4:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			
		    		</div><!-------回复评论区域-end------->
		    	</div>
		    </div><!-------单个评论条目-end------->
		    
		    <!--2-->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		<!-------回复评论区域-begin------->
		    		<div class="normalTopic_comment_reply" style="display: none;">
		    			<!--回复评论输入框-->
		    			<div class="reply_input">
		    				<textarea class="reply_input_text" name="reply"></textarea>
		    				<div class="reply_input_operate">
		    					<img src="../../../img/topic/emo.png">
		    					<img src="../../../img/topic/pic.png">
		    					<input type="button" id="reply_input_submit" value="评论" >
		    				</div>
		    			</div>
		    			<!--回复评论展示1-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称**2*</a>回复<a href="#reply_content" >昵称*2</a>:是打2*开*就*发*货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    				<div class="reply_content_input">
		    					<textarea class="reply_content_input_text" name="reply"></textarea>
		    					<div class="reply_content_input_operate">
		    						<img src="../../../img/topic/emo.png">
		    						<img src="../../../img/topic/pic.png">
		    						<input type="button" id="reply_content_input_submit" value="评论">
		    					</div>
		    				</div>
		    			</div>
		    			<!--回复评论展示2-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称2:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    				<div class="reply_content_input">
		    					<textarea class="reply_content_input_text" name="reply"></textarea>
		    					<div class="reply_content_input_operate">
		    						<img src="../../../img/topic/emo.png">
		    						<img src="../../../img/topic/pic.png">
		    						<input type="button" id="reply_content_input_submit" value="评论">
		    					</div>
		    				</div>
		    			</div>
		    			<!--回复评论展示3-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称2.5:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			<!--回复评论展示4-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称3:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			<!--回复评论展示5-->
		    			<div class="reply_content" id="reply_content">
		    				<div class="reply_content_up">
		    					<a class="reply_content_up_pic" href="#reply_content" ></a>
		    					<span class="reply_content_up_content">
		    						<a href="#reply_content" >昵称4:</a>是打开就发货速度积分换声卡上的地方合适的会计法刷卡缴费和可是对方设定沙发上地方水电费水电费方式是否水电费是
		    					</span>
		    				</div>
		    				<div class="reply_content_down">
		    					<span class="reply_content_down_time">7月29日 15:31</span>
		    					<span class="reply_content_down_operate">
		    						<span class="reply_content_down_report">举报</span>
		    						<span class="reply_content_down_reply">回复</span>
		    						<span class="reply_content_down_like">
		    							<img src="../../../img/browse/normalTopic/icon_like_small.png">
		    						</span>
		    					</span>
		    				</div>
		    			</div>
		    			
		    		</div><!-------回复评论区域-end------->
		    	</div>
		    </div><!-------单个评论条目-end------->
		    
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		    <div>
		    	<div class="normalTopic_comment_top"></div>
		    	<div class="normalTopic_comment_main">
		    		<!--评论顶部信息区-->
		    		<div class="normalTopic_comment_title clearfloat">
		    			<div class="title_pic">
		    				<a href="#reply_content" >
		    					<img src="../../../img/personal/strangerPic.png">
		    				</a>
		    			</div>
		    			<div class="title_name_area">
		    				<a class="title_name" href="#reply_content" >昵称*2</a>
		    				<div class="title_report">
		    					<input class="title_report_btn" type="button" value="举报">
		    				</div>
		    				<div class="title_time">07/28 17:48</div>
		    			</div>
		    		</div>
		    		<!--评论主要内容区-->
		    		<div class="normalTopic_comment_content">*2*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		    		<!--评论相关操作区-->
		    		<div class="normalTopic_comment_btn">
		    			<div class="btn_collection">
		    				<span class="btn_collection_checked"></span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_comment clearfloat">
		    				<span class="btn_comment_num">1233</span>
		    			</div>
		    			<div id="btn_line"></div>
		    			<div class="btn_like">
		    				<span class="btn_like_checked"></span>
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div><!-------单个评论条目-end------->
		</div>
	</div>
	<div id="xxx">
		
	</div>
	</body>
</html>

	
	<script type="text/javascript" src="../../../js/browse/addNormalComment.js" ></script>
	<script type="text/javascript">
		
		
		
	</script>
	
