<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>聚言-等你来较真</title>
	</head>
	<body>
		<div id="main" class="personal_main">
			<!-------导航栏_top---------->
			<div id="header" class="header">
				<div id="header_content" class="header_content">
					<!--logo-->
					<div id="header_logo" class="header_logo">
						<img src="../../../img/聚言-LOGO_01.png" border="0" />
					</div>
					<!--导航-->
					<div id="header_index" class="header_index">
						<div id="header_index_all" class="header_index_all" onclick="window.open('../../../index.html','_self')" >
							<p id="header_index_text" class="header_index_text">
								<span class="header_span_txt">首页</span>
							</p>
						</div>
						<div id="header_index_subject" class="header_index_all" onclick="window.open('#','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">专题</span>
							</p>
						</div>
						<div id="header_index_topic" class="header_index_all" onclick="window.open('../../personal_index.html','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">话题</span>
							</p>
						</div>
						<div id="header_select" class="header_select">
							<div id="header_select_text" class="header_select_text">
								<input type="search" name="header_select_input" id="header_select_input" placeholder="搜索" value="" />
								<div id="select_line"></div>
								<img src="../../../img/select 01.png"/>
							</div>
						</div>
					</div>
					<!--个人信息-->
					<div id="header_personal" class="header_personal">
						<div id="header_notice" class="icon_message">
							<img src="../../../img/login/notic.png"/>
						</div>
						<div id="header_message" class="icon_message">
							<img src="../../../img/login/message.png"/>
						</div>
						<div id="personal_pic" class="personal_pic">
							<img src="../../../img/unlogin.png" class="personal_pic_unlogin" />
							<span class="login_text zoomIn dialog">登录/注册</span>
							<span id="username">name</span>
						</div>
					</div>
				</div>
			</div>
			<!-------对抗话题详细页----------->
			<div class="topic_img_area">
				<img src="../../../img/personal/2.jpg"/>
			</div>
			<div id="topicPage" class="topicPage">
				<div class="topic_introduction_area">
					<div class="topic_introduction">
						<div class="topic_introduction_title">
							<span class="introduction_title_text">你会听傻子说完他的梦想吗？</span>
							<div class="topic_concern_Btn">
								❤关注话题
							</div>
						</div>
						<div class="editor">
							<span>◆编辑/Alex</span><span>2016-07-07 00:00</span>
						</div>
						<div class="topic_introduction_content">
							<p>我们的身边并不缺乏这样的人，他们异想天开，将自己的猜想种植在毫无逻辑的土壤上，他们满嘴跑火车，对你夸夸奇谈，而你是否真的对他们的想法有兴趣，他们完全不介意。这样的人，我们会贴上各种各样的标签，“傻子”、“疯子”、“白日梦想家”……</p>
							<p>饱受质疑的求职栏目《非我莫属》来过这么一个特殊的求职者——“民间科学家”郭英森，老郭在节目中提及了引力波、物质波、粒子等等概念。并提出用自己的理论可以建造不用轮子的汽车甚至是长生不老药。诸多嘉宾质疑其理论的科学性，方舟子更是表示：“他连初中都没学好，只记住了几个专有名词，就开始乱用。”也有包括孙浩在内的部分嘉宾支持老郭的行为，他们认为人应该有梦想，无论这个梦想是不是荒诞不羁的。</p>
							<p>节目播出后，部分网友指责嘉宾和主持人屡次打断郭英森说话，称应尊重有梦想的人，“我们欠他一个道歉”。也有部分网友认为老郭这些言论毫无科学依据，纯碎地瞎扯蛋，听他讲完才是侮辱自我智商。</p>
							<p>那么，现在将这个棘手的问题摆在你的面前，一个人向你阐述自己的梦想，你明知道这是妄想，你还会继续听他讲完么？</p>
						</div>
						<div class="topic_introduction_tag">
							<a href="#topicPage"><img class="tag_img" src="../../../img/browse/topic_tag.png"/>标签1</a>
							<a href="#topicPage"><img class="tag_img" src="../../../img/browse/topic_tag.png"/>标签2</a>
							<span class="introduction_icon">
								<img src="../../../img/browse/normalTopic/topic_微博.png"/>
								<img src="../../../img/browse/normalTopic/topic_微信.png"/>
								<img src="../../../img/browse/normalTopic/topic_QQ.png"/>
								<img src="../../../img/browse/normalTopic/topic_QQ空间.png"/>
								<img src="../../../img/browse/normalTopic/topic_豆瓣.png"/>
								<img src="../../../img/browse/normalTopic/topic_贴吧.png"/>
							</span>
						</div>
					</div>
				</div>
				<div class="topic_label_area clearfloat">
					<div class="topic_label_support">
						<div class="label_support_top">
							会，梦想值得尊重 ▉
						</div>
						<ul class="label_support_label">
							<li><div class="tagTail_support"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和，你说的就发生经过时时刻的了解法律上的开发建设，的路口附近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和你说的就发生经</span></li>
							<li><div class="tagTail_support"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附近饭店里阿三的机会撒发牢骚的尽快恢复，速度开了房间和你说的就发生经过，时时刻的了解法律上的开发建设的路口附近饭店</span></li>
							<li><div class="tagTail_support"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附，近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和你说的</span></li>
							<li><div class="tagTail_support"></div><span>就发生经过时时刻的了解法律上的开发建设的路，口附近</span></li>
							<li><div class="tagTail_support"></div><span>就发生经过，时时刻的了解法律上的开发建设的路口附近收到减肥还是尽快恢复</span></li>
						</ul>
					</div>
					<div class="topic_label_oppose">
						<div class="label_oppose_top">
							▉ 不会，不想无意义浪费时间
						</div>
						<ul class="label_oppose_label">
							<li><div class="tagTail_oppose"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和，你说的就发生经过时时刻的了解法律上的开发建设，的路口附近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和你说的就发生经</span></li>
							<li><div class="tagTail_oppose"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附近饭店里阿三的机会撒发牢骚的尽快恢复，速度开了房间和你说的就发生经过，时时刻的了解法律上的开发建设的路口附近饭店</span></li>
							<li><div class="tagTail_oppose"></div><span>就发生经过时时刻的了解法律上的开发建设的路口附，近饭店里阿三的机会撒发牢骚的尽快恢复速度开了房间和你说的</span></li>
							<li><div class="tagTail_oppose"></div><span>就发生经过时时刻的了解法律上的开发建设的路，口附近</span></li>
							<li><div class="tagTail_oppose"></div><span>就发生经过，时时刻的了解法律上的开发建设的路口附近收到减肥还是尽快恢复</span></li>
						</ul>
					</div>
				</div>
				<iframe src="../../../view/browse/allTopic/mod_competeArea.html" class="iframe_comment_area" width="100%" height="900px" scrolling="no"></iframe>
				<div class="topic_comment_area_top">
					<div class="comment_top">
						<div class="comment_support_num">
							<p>62</p>
						</div>
						<div class="comment_support_btn">
							<p>评论</p>
						</div>
						<div class="comment_oppose_num">
							<p>62</p>
						</div>
						<div class="comment_oppose_btn">
							<p>评论</p>
						</div>
						<div class="comment_top_text">
							<p>评论</p>
							<p>122</p>
						</div>
						
					</div>
				</div>
				<!--评论区域-->
				<div class="topic_comment_area_main clearfloat">
					<!------- 正方评论区域-begin ------->
					<section id="cd-timeline" class="topic_comment_area_content cd-container cssanimations cd-timeline-support">
						<!-------正方评论框加载-begin-------->
						<div id="timeline_input_support" class="cd-timeline-block timeline_input_disply">
							<div class="cd-timeline-img cd-picture"><span class="close_input" >×</span></div>
							<div class="cd-timeline-content timeline-content-set-support">
								<div class="comment_input_header">
									<span class="comment_input_operate btn_emo"></span>
									<span class="comment_input_operate btn_img"></span>
									<span class="comment_operate_line"></span>
									<span class="comment_input_operate btn_bold">B</span>
									<span class="comment_input_operate btn_italic">1</span>
									<span class="comment_input_operate btn_underline">1</span>
									<span class="comment_input_operate btn_color">1</span>
								</div>
								<div class="comment_input_content">
									<textarea class="comment_input_area"></textarea>
								</div>
								<div class="comment_input_footer">
									<span class="comment_input_stand_support">支持</span>
									<input type="button" id="comment_input_btn_support" class="comment_input_btn" value="发布" />
								</div>
							</div>
						</div><!-------正方评论框加载-end-------->
						
						<!-------正方评论-begin------->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-picture">P</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">1</a>
										</div>
										<div class="pikachu_time">2016/07/20 11:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>1</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">更丰富的精神分类的个人虐无二个呢瑞个我会每次真理惟一可靠的标准就是永远自相符合。 —— 欧文</div>
								<div class="comment_footer mark colorRed">
									<div class="comment_footer1">
										<span>11条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
								
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
								<div class="comment_reply_item" commenttype="support">
									<div class="isay_area">
										<div class="isay_support_avatar">
											<a href="#cd-timeline">
												<img src="../../../img/unlogin.png">
											</a>
										</div>
										<div class="isay_support_like">23<br>赞</div>
										<div class="isay_content">
											<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
											<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
										</div>
									</div>
									<div class="isay_time">07/19 11:59</div>
									<div class="isay_operate_area">
										<div class="isay_operate isay_operate_reply">
											<span>回复</span>
										</div>
										<div class="isay_operate isay_operate_like">
											<span>赞</span>
										</div>
										<div class="isay_operate isay_operate_report">
											<span>举报</span>
										</div>
									</div>
									<div class="isay_floor">#1</div>
									<form class="isay_text_area isay_text_area_mark" action="" method="post">
										<textarea class="target1"></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="submit" id="comment_btn" value="评论">
											<input class="comment_reply_cancel" type="button" value="取消">
										</div>
									</form>
								</div>
								<div class="comment_reply_item" commenttype="oppose">
									<div class="isay_area">
										<div class="isay_oppose_avatar">
											<a href="#cd-timeline">
												<img src="../../../img/unlogin.png">
											</a>
										</div>
										<div class="isay_oppose_like">1<br>赞</div>
										<div class="isay_content">
											<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：回复
											<a href="#cd-timeline" class="reply_name reply_name_o">是的</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
										</div>
									</div>
									<div class="isay_time">07/19 11:59</div>
									<div class="isay_operate_area">
										<div class="isay_operate isay_operate_reply">
											<span>回复</span>
										</div>
										<div class="isay_operate isay_operate_like">
											<span>赞</span>
										</div>
										<div class="isay_operate isay_operate_report">
											<span>举报</span>
										</div>
									</div>
									<div class="isay_floor">#2</div>
									<form class="isay_text_area isay_text_area_mark" action="" method="post">
										<textarea class="target1"></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="submit" id="comment_btn" value="评论">
											<input class="comment_reply_cancel" type="button" value="取消">
										</div>
									</form>
								</div>
								<div class="comment_reply_item" commenttype="oppose">
									<div class="isay_area">
										<div class="isay_oppose_avatar">
											<a href="#cd-timeline">
												<img src="../../../img/unlogin.png">
											</a>
										</div>
										<div class="isay_oppose_like">2<br>赞</div>
										<div class="isay_content">
											<a href="#cd-timeline" class="reply_name reply_name_o">是的</a>：回复
											<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
										</div>
									</div>
									<div class="isay_time">07/19 11:59</div>
									<div class="isay_operate_area">
										<div class="isay_operate isay_operate_reply">
											<span>回复</span>
										</div>
										<div class="isay_operate isay_operate_like">
											<span>赞</span>
										</div>
										<div class="isay_operate isay_operate_report">
											<span>举报</span>
										</div>
									</div>
									<div class="isay_floor">#3</div>
									<form class="isay_text_area isay_text_area_mark" action="" method="post">
										<textarea class="target1"></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="submit" id="comment_btn" value="评论">
											<input class="comment_reply_cancel" type="button" value="取消">
										</div>
									</form>
								</div>
								<div class="comment_reply_item" commenttype="support">
									<div class="isay_area">
										<div class="isay_support_avatar">
											<a href="#cd-timeline">
												<img src="../../../img/unlogin.png">
											</a>
										</div>
										<div class="isay_support_like">55<br>赞</div>
										<div class="isay_content">
											<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
											<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大2</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
										</div>
									</div>
									<div class="isay_time">07/19 11:59</div>
									<div class="isay_operate_area">
										<div class="isay_operate isay_operate_reply">
											<span>回复</span>
										</div>
										<div class="isay_operate isay_operate_like">
											<span>赞</span>
										</div>
										<div class="isay_operate isay_operate_report">
											<span>举报</span>
										</div>
									</div>
									<div class="isay_floor">#4</div>
									<form class="isay_text_area isay_text_area_mark" action="" method="post">
										<textarea class="target1"></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="submit" id="comment_btn" value="评论">
											<input class="comment_reply_cancel" type="button" value="取消">
										</div>
									</form>
								</div>
								<div class="comment_reply_item" commenttype="support">
									<div class="isay_area">
										<div class="isay_support_avatar">
											<a href="#cd-timeline">
												<img src="../../../img/unlogin.png">
											</a>
										</div>
										<div class="isay_support_like">23<br>赞</div>
										<div class="isay_content">
											<a href="#cd-timeline" class="reply_name reply_name_s">是的撒大大</a>：回复
											<a href="#cd-timeline" class="reply_name reply_name_o">123456</a>：jjdjabdsakljasfdalskdfjaslfjalfasklfjaslkfjaslkfjaslkdjaslkdjaslkdjaslkdjaslkdjlhsdlhf
										</div>
									</div>
									<div class="isay_time">07/19 11:59</div>
									<div class="isay_operate_area">
										<div class="isay_operate isay_operate_reply">
											<span>回复</span>
										</div>
										<div class="isay_operate isay_operate_like">
											<span>赞</span>
										</div>
										<div class="isay_operate isay_operate_report">
											<span>举报</span>
										</div>
									</div>
									<div class="isay_floor">#5</div>
									<form class="isay_text_area isay_text_area_mark" action="" method="post">
										<textarea class="target1"></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="submit" id="comment_btn" value="评论">
											<input class="comment_reply_cancel" type="button" value="取消">
										</div>
									</form>
								</div>
							</div>
						</div><!-------正方评论-end------->
						
						<!-------正方评论-begin------->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-picture">P</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">1</a>
										</div>
										<div class="pikachu_time">2016/07/20 12:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>1</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
								<div class="comment_footer mark colorRed">
									<div class="comment_footer1">
										<span>11条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------正方评论-end------->
						
						<!-------正方评论-begin------->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-picture">P</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">1</a>
										</div>
										<div class="pikachu_time">2016/07/20 12:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>1</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
								<div class="comment_footer mark colorRed">
									<div class="comment_footer1">
										<span>11条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------正方评论-end------->
						
						<!-------正方评论-begin------->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-picture">P</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">1</a>
										</div>
										<div class="pikachu_time">2016/07/20 12:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>1</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮肤额外花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
								<div class="comment_footer mark colorRed">
									<div class="comment_footer1">
										<span>11条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------正方评论-end------->
						
						<!-------正方评论-begin------->
						<div class="cd-timeline-block">
							<div class="cd-timeline-img cd-picture">P</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">1</a>
										</div>
										<div class="pikachu_time">2016/07/20 12:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>1</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">真理惟一啥的首发会尽快收到了哈哈分午安好父亲为皮花费路撒风景都是垃圾费你啥都没，发武汉阿斯蒂芬撒旦法可靠的标准就是永远自相符合。 —— 欧文</div>
								<div class="comment_footer mark colorRed">
									<div class="comment_footer1">
										<span>11条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------正方评论-end------->
					</section> <!------- 正方评论区域-end ------->
					
					<!------- 反方评论区域-begin ------->
					<section id="cd-timeline" class="topic_comment_area_content cd-container cssanimations cd-timeline-oppose">
						<!-------反方评论框加载-begin-------->
						<div id="timeline_input_oppose" class="cd-timeline-block even-cd-timeline-block timeline_input_disply">
							<div class="cd-timeline-img cd-movie close_input">×</div>
							<div class="cd-timeline-content timeline-content-set-oppose">
								<div class="comment_input_header">
									<span class="comment_input_operate btn_emo"></span>
									<span class="comment_input_operate btn_img"></span>
									<span class="comment_operate_line"></span>
									<span class="comment_input_operate btn_bold">B</span>
									<span class="comment_input_operate btn_italic">1</span>
									<span class="comment_input_operate btn_underline">1</span>
									<span class="comment_input_operate btn_color">1</span>
								</div>
								<div class="comment_input_content">
									<textarea class="comment_input_area"></textarea>
								</div>
								<div class="comment_input_footer">
									<span class="comment_input_stand_oppose">反对</span>
									<input type="button" id="comment_input_btn_oppose" class="comment_input_btn" value="发布" />
								</div>
							</div>
						</div><!-------反方评论框加载-end-------->
						
						<!-------反方评论-begin------->
						<div class="cd-timeline-block even-cd-timeline-block">
							<div class="cd-timeline-img cd-movie">N</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">2</a>
										</div>
										<div class="pikachu_time">2016/07/20 13:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>2</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。 —— 蒙田</div>
								<div class="comment_footer mark colorBlue">
									<div class="comment_footer1">
										<span>22条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------反方评论-end------->
						
						<!-------反方评论-begin------->
						<div class="cd-timeline-block even-cd-timeline-block">
							<div class="cd-timeline-img cd-movie">N</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">2</a>
										</div>
										<div class="pikachu_time">2016/07/20 14:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>2</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。 —— 蒙田</div>
								<div class="comment_footer mark colorBlue">
									<div class="comment_footer1">
										<span>22条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------反方评论-end------->
						
						<!-------反方评论-begin------->
						<div class="cd-timeline-block even-cd-timeline-block">
							<div class="cd-timeline-img cd-movie">N</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">2</a>
										</div>
										<div class="pikachu_time">2016/07/20 14:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>2</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
								<div class="comment_footer mark colorBlue">
									<div class="comment_footer1">
										<span>22条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------反方评论-end------->
						
						<!-------反方评论-begin------->
						<div class="cd-timeline-block even-cd-timeline-block">
							<div class="cd-timeline-img cd-movie">N</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">2</a>
										</div>
										<div class="pikachu_time">2016/07/20 14:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>2</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
								<div class="comment_footer mark colorBlue">
									<div class="comment_footer1">
										<span>22条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------反方评论-end------->
						
						<!-------反方评论-begin------->
						<div class="cd-timeline-block even-cd-timeline-block">
							<div class="cd-timeline-img cd-movie">N</div>
							<div class="cd-timeline-content">
								<div class="comment_header">
									<div class="pikachusPic">
										<a href="../../../view/user/personal.html">
											<img src="../../../img/personal/strangerPic.png">
										</a>
									</div>
									<div class="pikachusName">
										<div class="pikachu_name">
											<a href="../../../view/user/personal.html">2</a>
										</div>
										<div class="pikachu_time">2016/07/20 14:52:12</div>
									</div>
									<div class="like_area">
										<div class="like" ischecked="false">
											<div>2</div>
										</div>
										<div class="unlike" ischecked="false"></div>
									</div>
								</div>
								<div class="comment_content">我需要三件东西：爱情友谊和图书。 —— 蒙田</div>
								<div class="comment_footer mark colorBlue">
									<div class="comment_footer1">
										<span>22条评论</span>
									</div>
									<div class="comment_footer2">
										<span>回复</span>
									</div>
									<div class="comment_footer3">
										<span>举报</span>
									</div>
								</div>
							</div>
							<div class="comment_reply bounce-in" id="comment_reply">
								<div class="comment_reply_input">
									<div class="isay_text_area area_display">
										<textarea class="target1" id="target1" placeholder=""></textarea>
										<div class="isay_text_operate">
											<div class="isay_text_operate_emotion"></div>
											<div class="isay_text_operate_picture"></div>
											<div class="text_support">
												<input type="checkbox" name="" id="checkbox_support" class="checkbox" value="support">
												<label for="checkbox_support"></label>&nbsp;正方
											</div>
											<div class="text_oppose">
												<input type="checkbox" name="" id="checkbox_oppose" class="checkbox" value="oppose">
												<label for="checkbox_oppose"></label>&nbsp;反方
											</div>
											<input class="comment_btn" type="button" id="comment_btn" value="评论">
											<input class="comment_btn2" type="button" value="取消">
										</div>
									</div>
								</div>
								<div class="fallback">收起</div>
							</div>
						</div><!-------反方评论-end------->
						
					</section> <!------- 反方评论区域-end ------->
				</div>
				
			</div>
			<!-------footer------------->
			<div id="footer" class="footer" style="visibility: visible;">
				<div class="footer-up">
					<ul>
						<li class="footer-item">
							<h5>关于</h5>
							<p><a href="../../../view/footer/about.html#q1">关于我们</a></p>
							<p><a href="../../../view/footer/about.html#q2">联系我们</a></p>
							<p><a href="../../../view/footer/about.html#q3">加入我们</a></p>
						</li>
						<li class="footer-item">
							<h5>反馈</h5>
							<p><a href="../../../view/footer/feedback.html#q1">用户协议</a></p>
							<p><a href="../../../view/footer/feedback.html#q2">意见反馈</a></p>
						</li>
						<li class="footer-item">
							<h5>关注</h5>
							<p><a href="#">官方微博</a></p>
							<p><a href="#">微信公众号</a></p>
						</li>
						<li class="footer-item">
							<h5>功能</h5>
							<p><a href="#">友情链接</a></p>
						</li>
					</ul>
				</div>
				<div class="footer-bottom">
					<div class="copyright">
						Copyright &copy; 2016 聚言网络科技有限公司.
					</div>
				</div>
			</div>
			
		</div>
	
	
	
	
	
	
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="../../../css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/browse/topic.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/browse/timeline.css"/>
	<!--javascript-->
	<script src="../../../js/jquery-1.11.1.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../../js/homeIndex.js"></script>
	<script type="text/javascript" src="../../../js/examples.js"></script>
	<script src="../../../js/browse/topic.js" type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>