<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>聚言-等你来较真</title>
		<!--<script src="../firebug/build/firebug-lite.js"></script>-->
	</head>
	<body>
		<div id="main">
			<!-------导航栏_top---------->
			<div id="header" class="header">
				<div id="header_content" class="header_content">
					<!--logo-->
					<div id="header_logo" class="header_logo">
						<img src="../img/聚言-LOGO_01.png" border="0" />
					</div>
					<!--导航-->
					<div id="header_index" class="header_index">
						<div id="header_index_all" class="header_index_all" onclick="window.open('../index.html','_self')" >
							<p id="header_index_text" class="header_index_text">
								<span class="header_span_txt">首页</span>
							</p>
						</div>
						<div id="header_index_subject" class="header_index_all" onclick="window.open('#','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">专题</span>
							</p>
						</div>
						<div id="header_index_topic" class="header_index_all" onclick="window.open('#','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">话题</span>
							</p>
						</div>
						<div id="header_select" class="header_select">
							<div id="header_select_text" class="header_select_text">
								<input type="search" name="header_select_input" id="header_select_input" placeholder="搜索" value="" />
								<div id="select_line"></div>
								<img src="../img/select01.png"/>
							</div>
						</div>
					</div>
					<!--个人信息-->
					<div id="header_personal" class="header_personal">
						<div id="header_notice" class="icon_message">
							<div class="header_notic_img">
								<a href="javascript:void(0);">
									<img src="/AllTalk/img/login/notic.png"/>
									<em class="header_notic_count">4</em>
								</a>
							</div>
							<div class="header_notice_content">
								<div class="notice_content_up">
									<span>关注人</span><span>话题</span>
								</div>
								<ul>
									<li>
										<a href="javascript:void(0);">
											<span class="notice_content_pic">
												<img src=""/>
											</span>
										</a>
										<span class="notice_content_area">
											<div class="notice_content_name">
												<a href="javascript:void(0);">昵称</a>
											</div>
											<div class="notice_content_text">
												内容内容内容内容内容内容内容内容内容内容内容内容内容内容
											</div>
										</span>
									</li>
									<li><a href="javascript:void(0);"><em class="message_content_num">2</em>@我的</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">3</em>收到的赞</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">4</em>新粉丝</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">5</em>我的通知</a></li>
								</ul>
								<div class="notice_content_bottom">
									查看全部
								</div>
							</div>
						</div>
						<div id="header_message" class="icon_message">
							<div class="header_message_img">
								<a href="javascript:void(0);">
									<img src="/AllTalk/img/login/message.png"/>
									<em class="header_message_count">2</em>
								</a>
							</div>
							<div class="header_message_content">
								<ul>
									<li><a href="javascript:void(0);"><em class="message_content_num">1</em>回复我的</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">2</em>@我的</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">3</em>收到的赞</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">4</em>新粉丝</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">5</em>我的通知</a></li>
									<li><a href="javascript:void(0);"><em class="message_content_num">6</em>我的私信</a></li>
								</ul>
							</div>
						</div>
						<div id="personal_pic" class="personal_pic">
							<img src="/AllTalk/img/unlogin.png" class="personal_pic_unlogin" />
							<div id="username" class="username"><a href="/AllTalk/view/user/personal.html">用户名</a></div>
						</div>
					</div>
					<div class="signUp">
						<span id="login_text" class="login_text zoomIn dialog">登录</span>
						|
						<span id="register_text" class="register_text zoomIn dialog">注册</span>
					</div>
				</div>
			</div>
			
			<!-------二级导航------------>
			<div id="header_secondary" class="header_secondary">
				<div id="header_secondary_index" class="header_secondary_index">
					<div id="type_select_area" class="type_select_area">
					<ul class="itemsBtn">
						<li class="type_item" id="type_select_all" state="0"><div><img src="../img/browse/type_select_all2.png"/ name="type_select_all" class="type_item_img type_item_img1"><span>全部</span></div></li>
						<li class="type_item" state="0"><div><img src="../img/browse/shsh.png" name="shsh" class="type_item_img type_item_img1"/><span>社会民生</span></div></li>
						<li class="type_item" state="0"><div><img src="../img/browse/shxx.png" name="shxx" class="type_item_img type_item_img1"/><span>生活休闲</span></div></li>
						<li class="type_item" state="0"><div><img src="../img/browse/ylyd.png" name="ylyd" class="type_item_img type_item_img1"/><span>娱乐游戏</span></div></li>
					</ul>
				</div>
				</div>
			</div>
			
			<!-------三级导航------------>
			<div id="header_third" class="header_third">
				<div id="header_third_index" class="header_third_index">
					<ul class="header_third_content header_third_content1">
						<li>民生</li>
						<li>时事</li>
						<li>文化</li>
						<li>财经</li>
						<li>世界</li>
					</ul>
					<ul class="header_third_content header_third_content2">
						<li>美食</li>
						<li>旅游</li>
						<li>时尚</li>
						<li>情感</li>
						<li>科技</li>
					</ul>
					<ul class="header_third_content header_third_content3">
						<li>音乐</li>
						<li>明星</li>
						<li>游戏</li>
						<li>体育</li>
						<li>影视</li>
					</ul>
				</div>
			</div>
			
			<!-------主体部分------------>
			<div id="load_content" class="load_content clearfloat">
				<div id="type_select_area" class="type_select_area">
				</div>
				<div id="topic_area" class="topic_area">
					<!--话题展示类型1_1-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="o" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--<hr />-->
					<!--话题展示类型2_1-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="b" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_2-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="g" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_2-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="o" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="g" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="b" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="o" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="g" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="g" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="b" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="o" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="g" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="g" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="b" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="o" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="g" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="g" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_3-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="b" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					<!--话题展示类型1_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_content" colorType="o" itemType="1">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>文化</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
					</div>
					<!--话题展示类型2_4-->
					<div class="topic_item topic_item_display">
						<div class="topic_item_img">
							<div class="triangle"></div>
							<img class="topic_img lazy" alt="" width="230" height="201" data-original="../img/browse/normalTopic/img_small/ylyx5_demo.jpg"/>
						</div>
						<div class="topic_item_content" colorType="g" itemType="2">
							<div class="topic_tag">
								<span class=""><img src="../img/browse/topic_tag.png"/>环境</span>
							</div>
							<div class="topic_item_text">
								<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
								<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
								<div class="topic_item_num">
									<span class="topic_browse"><img src="../img/browse/topic_browse.png"/>3154</span>
									<span class="topic_vote"><img src="../img/browse/topic_vote.png"/>3154/3154</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<a class="upToTop" href="#">∧</a>
			</div>
			
			<div class="spinner">
			  <div class="dot1"></div>
			  <div class="dot2"></div>
			</div>
			
			<div class="loadMore">
				╮(╯▽╰)╭ 没有更多了~
		 	</div>
			<!-------footer------------->
			<div id="footer" class="footer">
				<div class="footer-up">
					<ul>
						<li class="footer-item">
							<h5>关于</h5>
							<p><a href="../view/footer/about.html#q1">关于我们</a></p>
							<p><a href="../view/footer/about.html#q2">联系我们</a></p>
							<p><a href="../view/footer/about.html#q3">加入我们</a></p>
						</li>
						<li class="footer-item">
							<h5>反馈</h5>
							<p><a href="../view/footer/feedback.html#q1">用户协议</a></p>
							<p><a href="../view/footer/feedback.html#q2">意见反馈</a></p>
						</li>
						<li class="footer-item">
							<h5>关注</h5>
							<p><a href="#">官方微博</a></p>
							<p><a href="#">微信公众号</a></p>
						</li>
						<li class="footer-item">
							<h5>功能</h5>
							<p><a href="#">友情链接</a></p>
						</li>
					</ul>
				</div>
				<div class="footer-bottom">
					<div class="copyright">
						Copyright &copy; 2016 聚言网络科技有限公司.
					</div>
				</div>
			</div>
			
		</div>
	
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../css/browse/loadContent.css"/>
	<link rel="stylesheet" type="text/css" href="../css/personal/concern.css"/>
	<!--javascript-->
	<script src="../js/jquery-1.11.1.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="../js/homeIndex.js"></script>
	<script type="text/javascript" src="../js/examples.js"></script>
	<script type="text/javascript" src="../js/login/login.js" ></script>
	<script src="../js/browse/browse.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).on("click",".type_item",function  () {
			/*获取点击二级标签的内容*/
			console.log($(this).find("span").text());
		});
	</script>
	<div id="loginBox" class="loginBox"></div>
	</body>
</html>