<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="concern_person" class="concern_person">
			<div class="concern_person_item">
				<div class="concern_person_item_img">
					<a href="#concern_person"><img src="../../img/personal/personalPicture.png"/></a>
				</div>
				<div class="concern_person_item_content">
					<div class="concern_person_item_name">
						<a href="#concern_person">海边的孙小鱼</a> <img src="../../img/login/message.png"/>
					</div>
					<div class="concern_person_item_line">
						步履不停，思考不停。
					</div>
					<div class="concern_person_item_info">
						<div class="concern_person_item_info_fansNum">
							粉丝：<a href="#concern_person">3154</a>&nbsp;&nbsp;话题：<a href="#concern_person">3154</a>
						</div>
						<div class="concern_person_item_info_lastTime">
							最后发言：16/06/30
						</div>
					</div>
				</div>
				<div class="concern_Btn">
					<div class="concern_Btn_click_area"><</div>
					<p id="concern_cancel_Btn">取消关注</p>
					<p id="private_message_Btn">私信</p>
				</div>
			</div>
			<div class="concern_person_item">
				<div class="concern_person_item_img">
					<a href="#concern_person"><img src="../../img/personal/personalPicture.png"/></a>
				</div>
				<div class="concern_person_item_content">
					<div class="concern_person_item_name">
						<a href="#concern_person">海边的孙小鱼</a> <img src="../../img/login/message.png"/>
					</div>
					<div class="concern_person_item_line">
						步履不停，思考不停。
					</div>
					<div class="concern_person_item_info">
						<div class="concern_person_item_info_fansNum">
							粉丝：<a href="#concern_person">3154</a>&nbsp;&nbsp;话题：<a href="#concern_person">3154</a>
						</div>
						<div class="concern_person_item_info_lastTime">
							最后发言：16/06/30
						</div>
					</div>
				</div>
				<div class="concern_Btn">
					<div class="concern_Btn_click_area"></div>
					<p>取消关注</p>
					<p>私信</p>
				</div>
			</div>
			
			<div class="concern_person_item">
				<div class="concern_person_item_img">
					<a href="#concern_person"><img src="../../img/personal/personalPicture.png"/></a>
				</div>
				<div class="concern_person_item_content">
					<div class="concern_person_item_name">
						<a href="#concern_person">海边的孙小鱼</a> <img src="../../img/login/message.png"/>
					</div>
					<div class="concern_person_item_line">
						步履不停，思考不停。
					</div>
					<div class="concern_person_item_info">
						<div class="concern_person_item_info_fansNum">
							粉丝：<a href="#concern_person">3154</a>&nbsp;&nbsp;话题：<a href="#concern_person">3154</a>
						</div>
						<div class="concern_person_item_info_lastTime">
							最后发言：16/06/30
						</div>
					</div>
				</div>
				<div class="concern_Btn">
					<div class="concern_Btn_click_area"></div>
					<p>取消关注</p>
					<p>私信</p>
				</div>
			</div>
			<div class="concern_person_item">
				<div class="concern_person_item_img">
					<a href="#concern_person"><img src="../../img/personal/personalPicture.png"/></a>
				</div>
				<div class="concern_person_item_content">
					<div class="concern_person_item_name">
						<a href="#concern_person">海边的孙小鱼</a> <img src="../../img/login/message.png"/>
					</div>
					<div class="concern_person_item_line">
						步履不停，思考不停。
					</div>
					<div class="concern_person_item_info">
						<div class="concern_person_item_info_fansNum">
							粉丝：<a href="#concern_person">3154</a>&nbsp;&nbsp;话题：<a href="#concern_person">3154</a>
						</div>
						<div class="concern_person_item_info_lastTime">
							最后发言：16/06/30
						</div>
					</div>
				</div>
				<div class="concern_Btn">
					<div class="concern_Btn_click_area"></div>
					<p>取消关注</p>
					<p>私信</p>
				</div>
			</div>
			<div class="concern_person_item">
				5
			</div>
			<div class="concern_person_item">
				6
			</div>
			<div class="concern_person_item">
				7
			</div>
			
		</div>
		<link rel="stylesheet" type="text/css" href="../../css/personal/concern_person.css"/>
		<script type="text/javascript" src="../../js/personal/concern_person.js" ></script>
	</body>
</html>
