<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="personal_concern_test">
		<ul id="personal_concern" class="personal_concern">
			<li><div id="personal_concern_items1" class="personal_concern_items">
				concern-tag1
			</div></li>
			<li><div id="personal_concern_items2" class="personal_concern_items">
				concern-tag2
			</div></li>
			<li><div id="personal_concern_items3" class="personal_concern_items">
				concern-tag3
			</div></li>
			<li><div id="personal_concern_items4" class="personal_concern_items">
				concern-tag4
			</div></li>
			<li><div id="personal_concern_items5" class="personal_concern_items">
				concern-tag5
			</div></li>
			<div style="clear: both;">
				
			</div>
		</ul>
		</div>
		<link rel="stylesheet" type="text/css" href="../../css/personal/concern.css"/>
	</body>
</html>
