<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul id="personal_concerned" class="personal_concerned">
			<li><div id="personal_concerned_items1" class="personal_concerned_items">
				concerned-tag1
			</div></li>
			<li><div id="personal_concerned_items2" class="personal_concerned_items">
				concerned-tag2
			</div></li>
			<li><div id="personal_concerned_items3" class="personal_concerned_items">
				concerned-tag3
			</div></li>
			<li><div id="personal_concerned_items4" class="personal_concerned_items">
				concerned-tag4
			</div></li>
			<li><div id="personal_concerned_items5" class="personal_concerned_items">
				concerned-tag5
			</div></li>
		</ul>
		<link rel="stylesheet" type="text/css" href="../../css/personal/concern.css"/>
	</body>
</html>
