<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="personal_concern_test">
		<ul id="personal_concern" class="personal_concern">
			<!--话题展示类型1_1-->
			<div class="topic_item">
				
				<div class="topic_item_content" colorType="o" itemType="1">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>文化</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
				<div class="delete_item">
					X
				</div>
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
			</div>
			<!--话题展示类型2_1-->
			<div class="topic_item">
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
				<div class="topic_item_content" colorType="b" itemType="2">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>文化</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
			</div>
			<!--话题展示类型1_2-->
			<div class="topic_item">
				<div class="topic_item_content" colorType="g" itemType="1">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>环境</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
			</div>
			<!--话题展示类型2_2-->
			<div class="topic_item">
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
				<div class="topic_item_content" colorType="o" itemType="2">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>环境</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
			</div>
			<!--话题展示类型1_3-->
			<div class="topic_item">
				<div class="topic_item_content" colorType="g" itemType="1">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>文化</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
			</div>
			<!--话题展示类型2_3-->
			<div class="topic_item">
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
				<div class="topic_item_content" colorType="b" itemType="2">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>环境</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
			</div>
			<!--话题展示类型1_4-->
			<div class="topic_item">
				<div class="topic_item_content" colorType="o" itemType="1">
					<div class="topic_tag">
						<span class=""><img src="../../img/browse/topic_tag.png"/>文化</span>
					</div>
					<div class="topic_item_text">
						<p class="topic_title">你愿意承受雾霾等代价在南方集中供暖吗？</p>
						<span class="topic_time">2016.06.17&nbsp;&nbsp;&nbsp;Alex</span>
						<div class="topic_item_num">
							<span class="topic_browse"><img src="../../img/browse/topic_browse.png"/>3154</span>
							<span class="topic_vote"><img src="../../img/browse/topic_vote.png"/>3154/3154</span>
						</div>
					</div>
				</div>
				<div class="topic_item_img">
					<canvas class="triangle" width="230" height="14"></canvas>
					<img src="../../img/homepage/society/shms2.jpg" class="topic_img"/>
				</div>
			</div>
			<div style="clear: both;">
				
			</div>
		</ul>
		</div>
		<link rel="stylesheet" type="text/css" href="../../css/personal/concern.css"/>
	</body>
</html>
