<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>聚言-等你来较真</title>
	</head>
	<body>
		<div id="main" class="personal_main">
			<!-------导航栏_top---------->
			<div id="header" class="header">
				<div id="header_content" class="header_content">
					<!--logo-->
					<div id="header_logo" class="header_logo">
						<img src="../../img/聚言-LOGO_01.png" border="0" />
					</div>
					<!--导航-->
					<div id="header_index" class="header_index">
						<div id="header_index_all" class="header_index_all" onclick="window.open('../../index.html','_self')" >
							<p id="header_index_text" class="header_index_text">
								<span class="header_span_txt">首页</span>
							</p>
						</div>
						<div id="header_index_subject" class="header_index_all" onclick="window.open('#','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">专题</span>
							</p>
						</div>
						<div id="header_index_topic" class="header_index_all" onclick="window.open('../personal_index.html','_self')" >
							<p  class="header_index_text">
								<span class="header_span_txt">话题</span>
							</p>
						</div>
						<div id="header_select" class="header_select">
							<div id="header_select_text" class="header_select_text">
								<input type="search" name="header_select_input" id="header_select_input" placeholder="搜索" value="" />
								<div id="select_line"></div>
								<img src="../../img/select 01.png"/>
							</div>
						</div>
					</div>
					<!--个人信息-->
					<div id="header_personal" class="header_personal">
						<div id="header_notice" class="icon_message">
							<img src="../../img/login/notic.png"/>
						</div>
						<div id="header_message" class="icon_message">
							<img src="../../img/login/message.png"/>
						</div>
						<div id="personal_pic" class="personal_pic">
							<img src="../../img/unlogin.png" class="personal_pic_unlogin" />
							<span class="login_text zoomIn dialog">登录/注册</span>
							<span id="username">name</span>
						</div>
					</div>
				</div>
			</div>
			<!-------消息页及账户设置页主要内容----------->
			<div id="message_content_area" class="message_content_area">
				<div class="myMessage_container">
					<div class="myMessage_index">
						<div class="myMessage_index_message">
							我的消息
						</div>
						<ul>
							<a href="#message_content_area"><li class="index_message" buttonIndex="1">回复我的<span class="message_num message_num_padding">1</span></li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="2">@我的<span class="message_num message_num_padding">2</span></li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="3">收到的赞<span class="message_num message_num_padding">3</span></li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="4">新粉丝<span class="message_num message_num_padding">4</span></li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="5">我的通知<span class="message_num message_num_padding">5</span></li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="6">我的私信<span class="message_num message_num_padding">6</span></li></a>
						</ul>
						<div class="myMessage_index_set">
							账户设置
						</div>
						<ul>
							<a href="#message_content_area"><li class="index_message" buttonIndex="7">更改绑定邮箱</li></a>
							<a href="#message_content_area"><li class="index_message" buttonIndex="8">更改密码</li></a>
						</ul>
					</div>
					<div id="myMessage_content" class="myMessage_content">
						<!--回复我的条目样式-begin-->
						<div class="myMessage_reply clearfloat">
							<div class="myMessage_reply_pic">
								<a href="#message_content_area">
								<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_reply_content">
								<div class="myMessage_reply_name">
									<a href="#message_content_area">
										<span class="msg_reply_name">回复我的-样式</span>
									</a>
									<span class="msg_reply_time">07-22 14:35</span>
								</div>
								<div class="msg_reply_content">公主被恶龙抓走了。当这个消息传来的时候，国王显得十分的焦躁。</div>
								<div class="msg_reply_for"><span>回复我的评论：</span>国王没办法，又听臣子说民间有很多奇人异士，就下了个诏令：谁能把公主救回来，赏赐黄金万两。民众蠢蠢欲动，丧生数千而止。又有大臣进谏，说金钱不是万能的。</div>
								<div class="myMessage_reply_title">
									<a href="#message_content_area">
										<span class="msg_reply_topicname">“呃，是这样的，我是一个知乎管理员，我把它给禁言了。”</span>
										<input type="button" id="myMessage_reply_btn" value="回复">
									</a>
								</div>
							</div>
						</div><!--回复我的条目样式-end-->
						
						<!--@我的条目样式1-begin-->
						<div class="myMessage_aite clearfloat">
							<div class="myMessage_aite_pic">
								<a href="#message_content_area">
									<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_aite_content">
								<div class="myMessage_aite_name">
									<a href="#message_content_area">
										<span class="msg_aite_name">@我的-样式1</span>
									</a>
									<span class="msg_aite_time">07-22 14:35</span>
								</div>
								<div class="msg_aite_content">
									<span>@昵称1</span>公主被恶龙抓走了。当这个消息传来的时候，国王显得十分的焦躁。
								</div>
								<div class="myMessage_aite_title">
									<a href="#message_content_area">
										<span class="msg_aite_topicname msg_aite_topicname_type2">“呃，是这样的，我是一个知乎管理员，我把它给禁言了。”</span>
										<input type="button" id="myMessage_aite_btn" value="回复">
									</a>
								</div>
							</div>
						</div><!--@我的条目样式1-end-->
						
						<!--@我的条目样式2-begin-->
						<div class="myMessage_aite clearfloat">
							<div class="myMessage_aite_pic">
								<a href="#message_content_area">
									<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_aite_content">
								<div class="myMessage_aite_name">
									<a href="#message_content_area">
										<span class="msg_aite_name">@我的-样式2</span>
									</a>
									<span class="msg_aite_time">07-22 14:35</span>
								</div>
								<div class="msg_aite_content">
									<span>@昵称1</span>公主被恶龙抓走了。当这个消息传来的时候，国王显得十分的焦躁。
								</div>
								<div class="msg_aite_for">
									<span>回复我的评论：</span>国王没办法，又听臣子说民间有很多奇人异士，就下了个诏令：谁能把公主救回来，赏赐黄金万两。民众蠢蠢欲动，丧生数千而止。又有大臣进谏，说金钱不是万能的。
								</div>
								<div class="myMessage_aite_title">
									<a href="#message_content_area">
										<span class="msg_aite_topicname">“呃，是这样的，我是一个知乎管理员，我把它给禁言了。”</span>
										<input type="button" id="myMessage_aite_btn" value="回复">
									</a>
								</div>
							</div>
						</div><!--@我的条目样式2-end-->
						
						<!--收到的赞条目样式-begin-->
						<div class="myMessage_like clearfloat">
							<div class="myMessage_like_pic">
								<a href="#message_content_area">
									<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_like_content">
								<div class="myMessage_like_name">
									<a href="#message_content_area">
										<span class="msg_like_name">收到的赞-样式</span>
									</a>
									<span class="msg_like_time">07-22 14:35</span>
								</div>
								<div class="msg_like_content">攒了我的评论</div>
								<div class="myMessage_like_title">
									<div class="msg_like_for">国王没办法，又听臣子说民间有很多奇人异士，就下了个诏令：谁能把公主救回来，赏赐黄金万两。民众蠢蠢欲动，丧生数千而止。又有大臣进谏，说金钱不是万能的。</div>
									<input type="button" id="myMessage_like_btn" value="回复">
								</div>
							</div>
						</div><!--收到的赞条目样式-end-->
						
						<!--新粉丝条目样式-begin-->
						<div class="myMessage_fans clearfloat">
							<div class="myMessage_fans_pic">
								<a href="#message_content_area">
									<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_fans_content">
								<div class="myMessage_fans_name">
									<a href="#message_content_area">
										<span class="msg_fans_name">新粉丝-样式</span>
									</a>
									<div class="msg_fans_num">粉丝:<span>123</span>关注:<span>456</span></div>
								</div>
								<input type="button" id="myMessage_fans_btn" value="关注">
								<div class="msg_fans_content">当这个消息传来的时候，国王显得十分的焦躁。</div>
							</div>
						</div><!--新粉丝条目样式-end-->
						
						<!--新通知条目样式-begin-->
						<div class="myMessage_notice clearfloat">
							<div class="myMessage_notice_content">
								<div class="myMessage_notice_title">
									<a href="#message_content_area">
										<span class="msg_notice_title">我的通知-样式</span>
									</a>
									<span class="msg_notice_time">07-22 14:35</span>
								</div>
								<div class="msg_notice_content">
									公主被恶龙抓走了。当这个消息传来的时候，国王显得十分的焦躁。虽然公主死了也无碍，但还存在着另外一件令他十分困扰的事情：当初为了王室金库的安全，避免歹徒通过劫持自己，然后将金库的钱劫走，国王给王国的金库设置指纹锁时是用的公主的手指，而不是自己的手指，眼下，随着公主的被劫走，国家的资金已经快周转不开了。国王召集亲近大臣密谋，最后下令：去把公主救回来，实在不行，把手剁回来也行。
								</div>
							</div>
						</div><!--新通知条目样式-end-->
						
						<!--我的私信条目样式-begin-->
						<div class="myMessage_letter clearfloat">
							<div class="myMessage_letter_pic">
								<a href="#message_content_area">
									<img src="../../img/personal/strangerPic.png">
								</a>
							</div>
							<div class="myMessage_letter_content">
								<div class="myMessage_letter_name">
									<a href="#message_content_area">
										<span class="msg_letter_name">我的私信-样式</span>
									</a>
									<span class="msg_letter_time">07-22 14:35</span>
								</div>
								<div class="myMessage_letter_text">
									<span class="msg_letter_text">公主被恶龙抓走了。当这个消息传来的时候，国王显得十分的焦躁。</span>
									<input class="myMessage_letter_btn" type="button" id="myMessage_letter_btn" value="10">
								</div>
							</div>
						</div><!--我的私信条目样式-end-->
						
						<!--私信对话框-begin-->
						<div class="myMessage_dialogue">
							<div class="dialogue_target_area">
								<div class="dialogue_back_btn">&lt;</div>
								<div class="dialogue_target_name">123111</div>
							</div>
							<div class="dialogue_content_area" id="dialogue_content_area"></div>
							<div class="dialogue_operate_area">
								<form action="" method="post">
									<textarea class="dialogue_operate_input" id="dialogue_operate_input"></textarea>
									<div class="dialogue_operate_insert">
										<img src="../../img/topic/emo.png">
										<img src="../../img/topic/pic.png">
										<input type="button" id="sendReply" value="发送">
									</div>
								</form>
							</div>
						</div><!--私信对话框-begin-->
						
					</div>
				</div>
			</div>
			<!-------footer------------->
			<div id="footer" class="footer" style="visibility: visible;">
				<div class="footer-up">
					<ul>
						<li class="footer-item">
							<h5>关于</h5>
							<p><a href="../../../view/footer/about.html#q1">关于我们</a></p>
							<p><a href="../../../view/footer/about.html#q2">联系我们</a></p>
							<p><a href="../../../view/footer/about.html#q3">加入我们</a></p>
						</li>
						<li class="footer-item">
							<h5>反馈</h5>
							<p><a href="../../../view/footer/feedback.html#q1">用户协议</a></p>
							<p><a href="../../../view/footer/feedback.html#q2">意见反馈</a></p>
						</li>
						<li class="footer-item">
							<h5>关注</h5>
							<p><a href="#">官方微博</a></p>
							<p><a href="#">微信公众号</a></p>
						</li>
						<li class="footer-item">
							<h5>功能</h5>
							<p><a href="#">友情链接</a></p>
						</li>
					</ul>
				</div>
				<div class="footer-bottom">
					<div class="copyright">
						Copyright &copy; 2016 聚言网络科技有限公司.
					</div>
				</div>
			</div>
			
		</div>
	
	
	
	
	
	
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="../../css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/personal/mymessage.css"/>
	<!--<link rel="stylesheet" type="text/css" href="../../../css/browse/timeline.css"/>-->
	<!--javascript-->
	<script src="../../js/jquery-1.11.1.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/homeIndex.js"></script>
	<script type="text/javascript" src="../../js/examples.js"></script>
	<script src="../../js/personal/mymessage.js" type="text/javascript" charset="utf-8"></script>
	
	</body>
</html>