<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>聚言-等你来较真</title>
	</head>
	<body>
		<div id="personalPage" class="personalPage">
			<!--个人信息部分-->
			<div id="personalInf" class="personalInf">
				<div id="personalInf_pic">
					<img src="img/personal/personalPicture.png" class="picture"/>
				</div>
				<div id="personalInf_text">
					<p id="personalInf_text_name">海边的孙小鱼</p>
					<p id="personalInf_text_info">浙江，舟山 | 设计与互联网 | 女</p>
					<p id="personalInf_text_line">步履不停，思考不停。</p>
				</div>
				<div id="personalInf_relation">
					<p id="personalInf_relation_fans">
						<span>关注的人：<strong>9</strong></span>&nbsp;&nbsp;
						<span>关注我的：<strong>3</strong></span>
					</p>
					<p id="personalInf_relation_info">
						赞同：10&nbsp;&nbsp;反驳：10&nbsp;&nbsp;68人浏览
					</p>
				</div>
			</div>
			<!--导航标签-->
			<div id="personalIndex" class="personalIndex">
				<div id="personalIndex_1" class="personalIndex_1 personalIndex_tag">
					关注的话题
				</div>
				<div id="personalIndex_2" class="personalIndex_tag">
					参与的话题
				</div>
				<div id="personalIndex_3" class="personalIndex_tag">
					关注的标签
				</div>
			</div>
			<!--内容展示-->
			<div id="personalContent" class="personalContent">
				
			</div>
		</div>
		<link rel="stylesheet" type="text/css" href="../../css/personal/main.css"/>
		<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../js/personal/personal.js"></script>
	</body>
</html>
