<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>聚言-等你来较真</title>
	</head>
	<body>
		<div id="personalPage" class="personalPage">
			<!--个人信息部分-->
			<div id="personalInf" class="personalInf">
				<div id="personalInf_pic">
					
				</div>
				<div id="personalInf_text">
					
				</div>
				<div id="personalInf_relation">
					
				</div>
			</div>
			<!--导航标签-->
			<div id="personalIndex" class="personalIndex">
				<div id="personalIndex_1" class="personalIndex_tag">
					
				</div>
				<div id="personalIndex_2" class="personalIndex_tag">
					
				</div>
				<div id="personalIndex_3" class="personalIndex_tag">
					
				</div>
			</div>
			<!--内容展示-->
			<div id="personalContent" class="personalContent">
				内容展示区域！
			</div>
		</div>
		<link rel="stylesheet" type="text/css" href="../../css/personal/main.css"/>
	</body>
</html>
