<!--登录模块-->

<!--<div id="loginBox" class="loginBox">-->
	<div id="login_area_top" class="login_area_top">
		<div class="login_area_top_logo">
			<h2>聚言</h2>
		</div>
		<div class="login_area_top_border"></div>
	</div>
	<!--登录窗体-->
	<form action="index.html" method="post" onsubmit="return false;" id="login_form_area" class="login_form_area">
		<ul class="list">
			<li>
				<!--<div class="fl"><h3>登录</h3></div>-->
			</li>
			<li>
				<div class="fl">
					<img src="img/login/user 01.png" class="input_img" />
					<input type="text" id="loginUsername" name="loginUsername" class="ipt login_input" placeholder="邮箱/用户名" />
					<p id="p1_1"></p>
				</div>
			</li>
		
			<li>
				<div class="fl">
					<img src="img/login/password 01.png" class="input_img"/>
					<input type="password" id="loginPassword" name="loginPassword" class="ipt login_input" placeholder="密码" />
					<p id="p1_2"></p>
				</div>
			</li>
			<li><input type="submit" value="登&nbsp&nbsp&nbsp录" class="submitBtn" id="loginBtn" /></li>
			<li>
				<div id="remember" class="fl">
					<input type="checkbox" name="rememberId" id="rememberId" value=""/><label for="rememberId">&nbsp;下次自动登录</label>
					<span id="remember_forget">忘记密码</span>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/login/QQ 01.png" name="qq" style="margin-left: 0;" />
					<img src="img/login/weixin 01.png" name="weixin" />
					<img src="img/login/weibo 01.png" name="weibo" />
				</div>
				<div id="register_button">注册</div>
			</li>
		</ul>
	</form>
	<!--注册窗体-->
	<form action="" method="post" onsubmit="return false;" id="register_form_area" class="register_form_area">
		<ul class="list">
			<li>
			</li>
			<li>
				<div class="fl">
					<img src="img/login/user 01.png" class="input_img" />
					<input type="text" id="registerUsername" name="registerUsername" class="ipt register_input" placeholder="输入电子邮箱" />
					<p id="p2_1"></p>
				</div>
			</li>
			<li>
				<div class="fl">
					<img src="img/login/password 01.png" class="input_img" />
					<input type="password" id="registerPassword" name="registerPassword" class="ipt register_input" placeholder="设定密码" />
					<p id="p2_2"></p>
				</div>
			</li>
			<li>
				<div class="fl">
					<img src="img/login/password 01.png" class="input_img" />
					<input type="password" id="registerPassword2" name="registerPassword2" class="ipt register_input" placeholder="确认密码" />
					<p id="p2_3"></p>
				</div>
			</li>
			<li>
				<div class="fl">
					<input type="text" id="verification" name="verification" class="verification_input" placeholder="请输入验证码" />
					<img src="img/聚言-LOGO_01.png"/ class="verification_img">
					<p id="p2_3"></p>
				</div>
			</li>
			<li><input type="submit" value="注&nbsp&nbsp&nbsp册" class="submitBtn" id="registerBtn" /></li>
			<li>
				<div id="remember" class="fl">
					<input type="checkbox" name="rememberId" id="rememberId" value=""/><label for="rememberId">&nbsp;已阅读<a href="test.html">《聚言免责声明》</a></label>
					<span id="returnLogin">已有账号→</span>
				</div>
			</li>
		</ul>
	</form>
<!--</div>-->