a
{
	text-decoration: none;
}

.topic_img_area
{
	position: relative;
	width: 100%;
	height: 334px;
	/*height: 100%;*/
	overflow: hidden;
	/*top: 64px;*/
}

#topicPage
{
	position: relative;
	width: 1002px;
	min-height: 900px;
	min-width: 1002px;
	margin:-90px auto 0;
	/*background-color: #FDFDFD;*/
}

.topic_introduction_area
{
	width: 750px;
	min-height: 400px;
	height: auto;
	background-color: #FDFDFD;
	margin: 0 auto 30px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.topic_label_area,.normalTopic_label_area
{
	width: 972px;
	min-height: 145px;
	margin: 0 auto 30px;
}

.topic_label_support
{
	width: 400px;
	min-height: 145px;
	float: left;
}

.topic_label_oppose
{
	width: 400px;
	min-height: 145px;
	float: right;
}

.topic_comment_area_top
{
	width: 100%;
	height: 75px;
	margin: 0 auto;
}

.comment_top
{
	width: 182px;
	height: 75px;
	margin: 0 auto;
}

.comment_top:before
{
	content: '';
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: 65px;
    min-height: 15px;
    width: 4px;
    background: #444;
}

.topic_comment_area_content
{
	width: 100%;
	min-height: 500px;
	margin: 0 auto;
}

/*.topic_comment_area_content:before
{
	content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
   	min-height: 500px;
    width: 4px;
    background: #444444;
}*/

.line
{
	position: absolute;
    left: 50%;
    margin-top: -40px;
    margin-left: -2px;
   	min-height: 500px;
    width: 4px;
    background: #444444;
}

.topic_comment_area_content:after
{
	content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #444444;
}

.topic_introduction
{
	width: 700px;
	min-height: 400px;
	margin: 0 auto;
}

.topic_introduction_title
{
	width: 100%;
	height: 48px;
}

.introduction_title_text
{
	height: 30px;
	font: 24px simhei;
	display: inline-block;
	padding-left: 15px;
	margin: 9px auto;
	border-left: solid 5px #F05656;
	color: #333333;
}

.topic_concern_Btn
{
	width: 70px;
	height: 22px;
	display: inline-block;
	border: solid 1px #F05656;
	border-radius: 15px;
	line-height: 22px;
	color: #F05656;
	vertical-align: middle;
	text-align: right;
	padding: 0 10px;
	margin: 9px;
	font-size: 12px;
    font-family: simhei;
	float: right;
	cursor: pointer;
}

.editor
{
	height: 12px;
}

.editor span
{
	font: 10px simhei;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.editor span:first-child
{
	color: #666666;
}

.editor span:last-child
{
	color: #999999;
}

.topic_introduction_content
{
	margin: 15px auto;
	font: 14px "microsoft yahei";
	color: #999999;
	text-indent: 2em;
}

.topic_introduction_content p
{
	line-height: 150%;
}

.topic_introduction_tag
{
	height: 24px;
}

.topic_introduction_tag a
{
	display: inline-block;
    font: 12px simhei;
    color: #666666;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.tag_img
{
	margin: 4px;
	float: left;
}

.introduction_icon
{
	display: inline-block;
	height: 24px;
	float: right;
}

.introduction_icon img
{
	margin-left: 0px;
	cursor: pointer;
	/*border-radius: 12px;*/
}

.label_support_top
{
	width: 100%;
	height: 16px;
	text-align: right;
	font: 16px simhei;
	color: #F05656;
	margin-bottom: 10px;
}

.label_oppose_top
{
	width: 100%;
	height: 16px;
	text-align: left;
	font: 16px simhei;
	color: #0090CC;
	margin-bottom: 10px;
}

ul
{
	padding: 0;
}

li
{
	margin-bottom: 5px;
}

.label_support_label li
{
	text-align: right;
	font: 12px "微软雅黑";
}

.label_support_label span
{
	padding: 5px 15px;
    background-color: rgba(240,86,86,0.75);
    display: inline-block;
    max-width: 345px;
    width: 345px;
    line-height: 1.5em;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #FFFFFF;
    text-align: left;
}

.s1:before
{
	content: "";
    float: left;
    border-bottom: 14px solid rgba(240,86,86,0.75);
    border-top: 14px solid rgba(240,86,86,0.75);
    border-left: 25px solid transparent;
    border-right: 0px solid rgba(240,86,86,0.75);
}

.s2:before
{
	content: "";
    float: left;
    border-bottom: 23px solid rgba(240,86,86,0.75);
    border-top: 23px solid rgba(240,86,86,0.75);
    border-left: 25px solid transparent;
    border-right: 0px solid rgba(240,86,86,0.75);
}

.s3:before
{
	content: "";
    float: left;
    border-bottom: 32px solid rgba(240,86,86,0.75);
    border-top: 32px solid rgba(240,86,86,0.75);
    border-left: 25px solid transparent;
    border-right: 0px solid rgba(240,86,86,0.75);
}

.s4:before
{
	content: "";
    float: left;
    border-bottom: 41px solid rgba(240,86,86,0.75);
    border-top: 41px solid rgba(240,86,86,0.75);
    border-left: 25px solid transparent;
    border-right: 0px solid rgba(240,86,86,0.75);
}

.s5:before
{
	content: "";
    float: left;
    border-bottom: 50px solid rgba(240,86,86,0.75);
    border-top: 50px solid rgba(240,86,86,0.75);
    border-left: 25px solid transparent;
    border-right: 0px solid rgba(240,86,86,0.75);
}

.label_oppose_label li
{
	text-align: left;
	font: 12px "微软雅黑";
}

.label_oppose_label span
{
	padding: 5px 15px;
    background-color: rgba(0,144,204,0.75);
    display: inline-block;
    max-width: 345px;
    width: 345px;
    line-height: 1.5em;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #FFFFFF;
    text-align: left;
}

.o1:after
{
	content: "";
    float: right;
    border-bottom: 14px solid rgba(0,144,204,0.75);
    border-top: 14px solid rgba(0,144,204,0.75);
    border-left: 0px solid rgba(0,144,204,0.75);
    border-right: 25px solid transparent;
}

.o2:after
{
	content: "";
    float: right;
    border-bottom: 23px solid rgba(0,144,204,0.75);
    border-top: 23px solid rgba(0,144,204,0.75);
    border-left: 0px solid rgba(0,144,204,0.75);
    border-right: 25px solid transparent;
}

.o3:after
{
	content: "";
    float: right;
    border-bottom: 32px solid rgba(0,144,204,0.75);
    border-top: 32px solid rgba(0,144,204,0.75);
    border-left: 0px solid rgba(0,144,204,0.75);
    border-right: 25px solid transparent;
}

.o4:after
{
	content: "";
    float: right;
    border-bottom: 41px solid rgba(0,144,204,0.75);
    border-top: 41px solid rgba(0,144,204,0.75);
    border-left: 0px solid rgba(0,144,204,0.75);
    border-right: 25px solid transparent;
}

.o5:after
{
	content: "";
    float: right;
    border-bottom: 50px solid rgba(0,144,204,0.75);
    border-top: 50px solid rgba(0,144,204,0.75);
    border-left: 0px solid rgba(0,144,204,0.75);
    border-right: 25px solid transparent;
}

.comment_top_text
{
	width: 136px;
	height: 68px;
	text-align: center;
	margin: 0 auto;
}

.comment_top_text p:first-child
{
	position: absolute;
	letter-spacing: 5px;
	margin-left: 43px;
	padding: 8px 0;
	font: normal 20px simhei;
	color: #FFFFFF;
	line-height: 1em;
}

.comment_top_text p:last-child
{
	position: absolute;
	letter-spacing: 2px;
	margin-left: 56px;
	margin-top: 39px;
	font: normal 12px simhei;
	color: #FFFFFF;
	line-height: 1em;
}

.comment_top_text:before
{
	content: "";
    float: left;
    border-bottom: 68px solid transparent;
    border-top: 68px solid #333333;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
}

.comment_support_num
{
	position: absolute;
	width: 30.5px;
	height: 30.5px;
	background-color: rgba(240,86,86,0.75);
	transform: rotate(45deg);
	line-height: 30.5px;
	margin: 6px 4px;
	cursor: pointer;
}

.comment_support_num p,.comment_oppose_num p
{
	font-size: 12px;
    font-family: simhei;
    color: #ffffff;
    width: 30.5px;
    transform: rotate(-45deg);
    margin: 7px auto;
    text-align: center;
}

.comment_support_btn
{
	position: absolute;
	width: 34px;
	height: 34px;
	background-color: rgba(240,86,86,1);
	transform: rotate(45deg);
	line-height: 34px;
	margin: 30px 26px;
	cursor: pointer;
}

.comment_support_btn p,.comment_oppose_btn p
{
	font-size: 12px;
    font-family: simhei;
    color: #ffffff;
    width: 30.5px;
    transform: rotate(-45deg);
    margin: 9px auto;
    text-align: center;
}

.comment_oppose_num
{
	position: absolute;
	width: 30.5px;
	height: 30.5px;
	background-color: rgba(0,144,204,0.75);
	transform: rotate(45deg);
	line-height: 30.5px;
	margin: 6px 4px 6px 148px;
	cursor: pointer;
}

.comment_oppose_btn
{
	position: absolute;
	width: 34px;
	height: 34px;
	background-color: rgba(0,144,204,1);
	transform: rotate(45deg);
	line-height: 34px;
	margin: 30px 26px 30px 123px;
	cursor: pointer;
}

.comment_header
{
	height: 45px;
}

.comment_content
{
	margin: 15px auto;
	/*min-height: 200px;*/
}

.comment_footer
{
	/*width: 392px;*/
	height: 18px;
	font-size: 0;
	float: right;
    -webkit-text-size-adjust:none;
}

.mark:after
{
	content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-top: 25px;
    transform: rotate(45deg);
    overflow: hidden;
    visibility: hidden;
}

.mark1_1:after
{
    right: 190px;
    visibility: visible;
}

.mark1_2:after
{
    right: 115px;
    visibility: visible;
}

.colorBlue:after
{
    border-top: solid 1px #0090CC;
    border-left: solid 1px #0090CC;
}

.colorRed:after
{
	border-top: solid 1px #F05656;
    border-left: solid 1px #F05656;
}

.pikachusPic
{
	width: 45px;
	height: 45px;
	position: relative;
	font-size: 0;
	float: left;
}

.pikachusPic img
{
	width: 45px;
	height: 45px;
}

.pikachusName
{
	display: inline-block;
	margin: 8px auto 4px 12px;
}

.pikachu_name
{
	font: bold 13px "微软雅黑";
	padding: 1px 0;
}

.pikachu_time
{
	font: 10px simhei;
}

.like_area
{
	width: 33px;
	height: 43px;
	float: right;
}

.like
{
	height: 16px;
	background-color: #E8E8E8;
	background: url(../../img/topic/like_red.png) no-repeat;
	padding-top: 13px;
	cursor: pointer;
}

.like div
{
	height: 16px;
	font: 13px arial;
	letter-spacing: 0;
	text-align: center;;
}

.like:before
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #FFFFFF transparent;
	margin-left: 12.5px;
    margin-top: -12px;
}

.unlike:before
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF transparent transparent transparent;
	margin-left: 12.5px;
    margin-top: 4px;
}

.unlike
{
	height: 13px;
	background-color: #DDDDDD;
	background: url(../../img/topic/unlike_red.png) no-repeat;
	margin-top: 1px;
	cursor: pointer;
}

.comment_content
{
	word-break:break-all;
	color: #333333;
}

.comment_footer img
{
	width: 16px;
	height: 16px;
	float: left;
	border: none;
}

.comment_footer1,.comment_footer2,.comment_footer3
{
	display: inline-block;
	padding-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.comment_footer span
{
	padding-left: 21px;
	font: 12px  "微软雅黑";
	letter-spacing: 0;
	float: left;
	color: #666666;
	
}

.comment_footer1
{
	padding-left: 0;
	width: 86px;
	float: left;
}

.comment_footer1 span
{
	background: url(../../img/topic/icon_comment1.png) no-repeat;
}

.comment_footer2 span
{
	background: url(../../img/topic/icon_reply1.png) no-repeat;
}

.comment_footer3 span
{
	color: #999999;
	background: url(../../img/topic/icon_report1.png) no-repeat;
	/*visibility: hidden;*/
}

.comment_footer2,.comment_footer3
{
	border-left: solid 1px #666;
	width: 46px;
	float: left;
}

.comment_reply
{
	width: 427px;
	padding: 0 10px 15px 10px;
	background-color: #FFFFFF;
	border: solid 1px #F05656;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 3px 0 #d7e4ed;
	z-index: 1;
}


.comment_reply_item
{
	padding: 15px 0;
	border-bottom: solid 1px #CCCCCC;
	font-size: 0;
}

.isay_area
{
	width: 100%;
}

.reply_name_s
{
	color: #F05656;
}

.reply_name_o
{
	color: #0090CC;
}

.isay_support_avatar
{
	width: 30px;
	height: 30px;
	float: left;
	display: inline-block;
	border-left: solid 5px #F05656;
	padding-left: 5px;
}

.isay_oppose_avatar
{
	width: 30px;
	height: 30px;
	float: right;
	display: inline-block;
	border-right: solid 5px #0090CC;
	padding-right: 5px;
}

.isay_content
{
	width: 330px;
	padding: 0 10px 15px 10px;
	word-break: break-all;
	display: inline-block;
	font: 12px "微软雅黑",arial;
	color: #333333;
}

.isay_support_like
{
	width: 30px;
	height: 30px;
	float: right;
	display: inline-block;
	font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.isay_oppose_like
{
	width: 30px;
	height: 30px;
	float: left;
	display: inline-block;
	font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.isay_time
{
	margin-left: 50px;
	word-break: break-all;
	display: inline-block;
	font: 12px "微软雅黑",arial;
}

.isay_operate_area
{
	display: inline-block;
	font-size: 0;
	-webkit-text-size-adjust: none;
}

.isay_operate_area img
{
	width: 16px;
	height: 16px;
	float: left;
	border: none;
}

.isay_operate
{
	display: inline-block;
	font: 12px "微软雅黑";
	color: #999999;
	margin-left: 15px;
	cursor: pointer;
}

.isay_operate span
{
	padding-left: 21px;
}

.isay_operate_reply span
{
	background: url(../../img/topic/icon_reply2.png) no-repeat;
}

.isay_operate_like span
{
	background: url(../../img/topic/icon_like.png) no-repeat;
}

.isay_operate_report span
{
	background: url(../../img/topic/icon_report1.png) no-repeat;
}

.isay_floor
{
	display: inline-block;
	float: right;
	font: 12px "微软雅黑";
}

.isay_text_area
{
	width: 413px;
	padding: 10px 6px;
	margin-top: 10px;
	min-height: 70px;
	background-color: #fafafa;
	border: solid 1px #999999;
}

.area_display
{
	display: inherit;
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #FFFFFF;
}

.isay_text_area_mark:before
{
	content: '';
    position: absolute;
    width: 10.5px;
    height: 10.5px;
    background-color: #fafafa;
    border-top: solid 1px #999999;
    border-left: solid 1px #999999;
    left: 167px;
    margin-top: -16px;
    transform: rotate(45deg);
    overflow: hidden;
}

.isay_text_area textarea
{
	height: 1.5em;
    width: 391px;
    padding: 9px 10px;
    border: solid 1px #cccccc;
    font: 13px "微软雅黑";
    color: #333333;
    line-height: 1.5em;
    overflow: hidden;
    resize: none;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}

.area_display textarea
{
	width: 405px;
}

.isay_text_area textarea:focus
{
	border-color: #666666;
	
}

.isay_text_operate
{
	margin-top: 10px;
	font-size: 0;
	-webkit-text-size-adjust: none;
}

.isay_text_operate div
{
	display: inline-block;
	margin-right: 8px;
	font: 12px "微软雅黑",arial;
	color: #F05656;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
}

.isay_text_operate_emotion
{
	width: 16px;
	height: 16px;
	margin: 2px auto;
	background: url(../../img/topic/emo.png) no-repeat;
	cursor: pointer;
}

.isay_text_operate_picture
{
	width: 16px;
	height: 16px;
	margin: 2px auto;
	background: url(../../img/topic/pic.png) no-repeat;
	cursor: pointer;
}

.isay_text_operate img
{
	padding: 2px 0;
}

#text_oppose
{
	color: #0090CC;
}

.checkbox
{
	display: none; 
}

.checkbox + label
{
	background-color: #FFF; 
    border: 1px solid #F05656;
    padding: 7px; 
    border-radius: 3px; 
    display: inline-block; 
    position: relative;
    vertical-align: text-top;
}

#checkbox_oppose + label
{
	border: 1px solid #0090CC;
}

.checkbox_support_check + label
{
	border: 0 0 3px rgba(240,86,86,0.7) inset;
	/*background-color: #999999;*/
}

.checkbox_oppose_check + label
{
	border: 0 0 3px rgba(0,144,204,0.7) inset;
	/*background-color: #999999;*/
}

.checkbox_support_check:checked + label
{
	background-color: rgba(240,86,86,0.1);
}

.checkbox_oppose_check:checked + label
{
	background-color: rgba(0,144,204,0.1);
}

.checkbox + label:after
{
	content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: -9px;
    vertical-align: text-top;
}

.checkbox_support_hover + label:after
{
	color: rgba(240,86,86,0.5);
}

.checkbox_oppose_hover + label:after
{
	color: rgba(0,144,204,0.5);
}

.checkbox_support_check + label:after
{
	color: rgba(240,86,86,1);
}

.checkbox_oppose_check + label:after
{
	color: rgba(0,144,204,1);
}

.comment_btn
{
	width: 36px;
	height: 20px;
	float: right;
	border-radius: 3px;
	background-color: rgba(240,86,86,0.5);
	border: none;
	outline: none;
	font: 12px "微软雅黑";
	color: #FFFFFF;
}

.comment_btn2
{
	width: 36px;
	height: 20px;
	float: right;
	border-radius: 3px;
	border: none;
	outline: none;
	font: 12px "微软雅黑";
	background-color: transparent;
	color: #333333;
	cursor: pointer;
}

.comment_reply_cancel
{
	width: 36px;
	height: 20px;
	float: right;
	border-radius: 3px;
	border: none;
	outline: none;
	font: 12px "微软雅黑";
	background-color: transparent;
	color: #333333;
	cursor: pointer;
}

.comment_btn_enable
{
	background-color: rgba(240,86,86,1);
	cursor: pointer;
}

.comment_btn_enable:hover
{
	box-shadow: 1px 1px 3px rgba(240,86,86,1);
}

.comment_reply_input
{
	padding: 15px 0;
	border-bottom: solid 1px #CCCCCC;
	font-size: 0;
	display: none;
}

.fallback
{
	float: right;
	color: #F05656;
	font: 10px "微软雅黑";
	cursor: pointer;
	bottom: 0;
    position: absolute;
}


/******普通话题页相关样式******/
#nTopicPage 
{
    position: relative;
    width: 1002px;
    min-width: 1002px;
    margin: -90px auto 0;
}


.normalTopic_label_item
{
	height: 36px;
	min-width: 200px;
	display: inline-block;
	float: left;
	margin-bottom: 36px;
	margin-right: 30px;
	border: solid 2px #999999;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	/*background-color: #FFFFFF;*/
	padding-left: 36px;
	font-size: 0;
    background: #FFFFFF url(../../img/browse/normalTopic/icon_heart_grey.png) no-repeat;
    cursor: pointer;
}

.normalTopic_label_item_checked
{
	border: solid 2px #F05656;
	background: #FFFFFF url(../../img/browse/normalTopic/icon_heart_red.png) no-repeat;
}

.normalTopic_label_item_text
{
	min-width: 200px;
	max-width: 400px;
	height: 36px;
	font: 13px "微软雅黑";
	color: #333333;
	display: inline-block;
	padding: 0 8px;
	line-height: 36px;
	float: left;
}

.normalTopic_label_item_like
{
	display: inline-block;
	width: 40px;
	height: 36px;
	font: 13px arial;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
	float: right;
	background-color: #999999;
}

.normalTopic_label_item_like_checked
{
	background-color: #F05656;
}

.normalTopic_comment_pole
{
	width: 100%;
	background: url(../../img/browse/normalTopic/icon_pole.png) repeat-x;
	margin: 0 auto;
}

.normalTopic_comment_area
{
	width: 1128px;
	margin: 0 auto;
	padding: 0 45px;
	min-height: 500px;
}
.slideGroup{ width:1012px;margin: 0 10px;display: inline-block;}


/*分页*/
.normalTopic_comment_operate
{
	width: 48px;
	display: inline-block;
	vertical-align: top;
	padding-top: 48px;
}

.normalTopic_comment_operate:before
{
	content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #333333;
    margin-top: -51px;
    margin-left: 16.5px;
}


.normalTopic_comment_right
{
	float: right;
}

.normalTopic_comment_right:after
{
	content: "";
    position: absolute;
    width: 2px;
    height: 184px;
    background-color: #333333;
    top: -48px;
    margin-left: -1px;
    z-index: -1;
}

.normalTopic_comment_left
{
	float: left;
}

.normalTopic_comment_operate_line
{
	position: absolute;
    width: 2px;
    height: 100px;
    background-color: #333333;
    margin-left: -1px;
    z-index: -1;
}

/*.normalTopic_comment_left:after
{
	content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #333333;
    top: -48px;
    margin-left: -1px;
    z-index: -1;
}*/

.normalTopic_comment_num,.normalTopic_comment_prev,.normalTopic_comment_next,.normalTopic_comment_bottom,.comment_page_num
{
	width: 100%;
	height: 24px;
	background-color: #333333;
	border-radius: 5px;
	font: 12px "微软雅黑",arial;
	color: #FFFFFF;
	line-height: 24px;
	margin-bottom: 10px;
	text-align: center;
}

.normalTopic_comment_num:before
{
	content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #333333;
    margin-top: -40px;
    margin-left: 16px;
    z-index: -1;
}

.normalTopic_comment_prev:before
{
	content: "";
    position: absolute;
    width: 2px;
    height: 184px;
    background-color: #333333;
}

.comment_page_num
{
	width: 24px;
	border-radius: 15px;
	margin: 0 auto 10px;
	letter-spacing: 0.5px;
}

.normalTopic_comment_publish
{
	width: 26px;
	height: 36px;
	background-color: #F05656;
	border: solid 1px #333333;
	border-radius: 5px;
	letter-spacing: 0px;
	line-height: 0;
	font: 12px "微软雅黑";
	color: #FFFFFF;
	padding: 0 10px;
	cursor: pointer;
}

.normalTopic_comment_turnTo
{
	width:48px;
	height: 48px;
	background-color: #333333;
	border-radius: 5px;
	text-align: center;
}

.total_comment_page,.turnTo_comment_page_btn
{
	font: 12px "微软雅黑";
	color: #FFFFFF;
	letter-spacing: 0.5px;
}

.turnTo_comment_page_btn
{
	cursor: pointer;
}

#turnTo_comment_page
{
	width: 34px;
	height: 14px;
	margin: 0 auto;
	border: none;
}

/*单个评论条目样式*/
.normalTopic_comment_main,.normalTopic_comment_input
{
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 3px;
    overflow: hidden;
    border-radius: 5px;
}

.normalTopic_comment_input
{
	border: solid 1px #999999;
	background-color: #FAFAFA;
	padding: 4px 10px;
}

.normalTopic_comment_input_operate
{
	height: 24px;
	padding-bottom: 4px;
	font-size: 0;
}

.normalTopic_comment_input_content
{
	width: 197px;
    height: 6em;
    border: solid 1px #CCCCCC;
    resize: none;
    padding: 5px 10px;
    overflow: hidden;
    font: 13px/1.5em "微软雅黑",arial;
}

.normalTopic_comment_input_submit
{
	height: 24px;
	padding-top: 4px;
}

.input_operate_emo,.input_operate_img,.input_operate_blod,.input_operate_italic,.input_operate_underline,.input_operate_upper
{
	width: 24px;
	height: 24px;
	float: left;
	display: inline-block;
	margin: 0 2px;
	cursor: pointer;
}

.input_operate_emo
{
	background: url(../../img/topic/emo.png) center center no-repeat;
}

.input_operate_img
{
	background: url(../../img/topic/pic.png) center center no-repeat;
}

.input_operate_blod
{
	font: bold 20px "blackadder itc";
	line-height: 24px;
	color: #666666;
}

.input_operate_italic
{
	line-height: 24px;
	color: #666666;
	font: italic 20px "blackadder itc";
	font-weight: bold;
}

.input_operate_underline
{
	font: bold 20px "blackadder itc";
	line-height: 24px;
	color: #666666;
	text-decoration: underline;
}

.input_operate_line
{
	display: inline-block;
	width: 1px;
	height: 24px;
	background-color: #999999;
	float: left;
	margin: 0 3px;
}

#comment_input_submit
{
	float: right;
	width: 50px;
	height: 24px;
	border: none;
	border-radius: 5px;
	background-color: rgba(240,86,86,0.7);
	font: 12px "微软雅黑";
	color: #FFFFFF;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.normalTopic_comment_top
{
	height: 48px;
	width: 241px;
	border: none;
	position: absolute;
	background: url(../../img/browse/normalTopic/bg_hangers.png) center no-repeat;
	margin-top: -48px;
}

.normalTopic_comment_title
{
	width: 210px;
	height: 49px;
	background: url(../../img/browse/normalTopic/bg_flag.gif) repeat-x;
	padding: 6px 16px 15px 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.title_pic
{
	width: 45px;
	height: 45px;
	background-color: #CCCCCC;
	border-radius: 30px;
	border: solid 2px #FFFFFF;
	display: inline-block;
	float: left;
}

.title_name_area
{
	padding: 0 0 0 59px;
	text-align: left;
	color: #FFFFFF;
}

.title_name
{
	margin-top: 10px;
	font: 14px "微软雅黑",arial;
	line-height: 1em;
	display: inline-block;
	color: #FFFFFF;
}

.title_report_btn
{
	margin-top: 10px;
	float: right;
	letter-spacing: 0;
	padding: 1px 3px;
	border: none;
	font: 12px "微软雅黑";
	background-color: #FFFFFF;
	cursor: pointer;
	display: none;
}

.title_report_btn:hover
{
	box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}

.title_report
{
	display: inline-block;
	float: right;
	font: 14px arial;
	width: 13px;
    height: 8px;
    margin-top: 22px;
    background: url(../../img/browse/normalTopic/icon_report.png);
    cursor: pointer;
}

.title_time
{
	margin-top: 10px;
	font: 12px arial;
	line-height: 1em;
	letter-spacing: 0.5px;
}

.normalTopic_comment_content
{
	padding: 10px 15px 20px;
	min-height: 100px;
	border-bottom: solid 1px #CCCCCC;
	word-break: break-all;
	font: 13px "微软雅黑",arial;
	color: #333333;
	text-align: left;
	background-color: rgb(255, 255, 255);
}

.normalTopic_comment_btn
{
	height: 24px;
	background-color: #F2F2F2;
}

.normalTopic_comment_btn div
{
	width: 79.6px;
	height: 24px;
	display: inline-block;
	float: left;
	line-height: 24px;
}

#btn_line
{
	width: 1px;
	height: 8px;
	background-color: #CCCCCC;
	margin-top: 8px;
}

.btn_comment_num,.btn_collection_checked,.btn_like_checked
{
	display: inline-block;
	margin: 0 auto;
	min-height: 16px;
	min-width: 16px;
	width: auto;
	max-width: 79px;
	vertical-align: top;
	letter-spacing: 0.5px;
	font: 12px arial;
	color: #999999;
	line-height: 16px;
	cursor: pointer;
}

.btn_comment_num
{
	margin-top: 4px;
	padding-left: 21px;
	background: url(../../img/browse/normalTopic/icon_comment_grey.png) no-repeat center left;
}

.btn_comment_num_blue
{
	color: #0090CC;
	background: url(../../img/browse/normalTopic/icon_comment_blue.png) no-repeat center left;
}

.btn_collection_checked
{
	margin-top: 4px;
	background: url(../../img/browse/normalTopic/icon_collection_grey.png) no-repeat center center;
}

.btn_collection_checked_blue
{
	background: url(../../img/browse/normalTopic/icon_collection_blue.png) no-repeat center center;
}

.btn_like_checked
{
	margin-top: 4px;
	background: url(../../img/browse/normalTopic/icon_like_grey.png) no-repeat center center;
}

.btn_like_checked_blue
{
	background: url(../../img/browse/normalTopic/icon_like_blue.png) no-repeat center center;
}

/******评论回复区******/
.normalTopic_comment_reply
{
	border-top: solid 1px #CCCCCC;
	padding: 10px 6px;
	background-color: #FAFAFA;
	display: block;
}

.normalTopic_comment_reply:before
{
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: #FAFAFA;
    margin-top: -14px;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg); 
}

.reply_input_text,.reply_content_input_text
{
	width: 205px;
	height: 1.5em;
	border: solid 1px #CCCCCC;
	resize: none;
	padding: 5px 10px;
	overflow: hidden;
	display: block;
	font: 13px/1.5em "微软雅黑",arial;
}

.reply_input_text:focus,.reply_content_input_text:focus,.normalTopic_comment_input_content:focus
{
	box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
}

.reply_content_input_text
{
	width: 193px;
}

.reply_input_operate,.reply_content_input_operate
{
	text-align: left;
	margin: 5px 0;
	font-size: 0;
	height: 20px;
}

.reply_content_input_operate
{
	margin-bottom: 0;
}

.reply_content_input_operate img
{
	margin-right: 5px;
}

.reply_input_operate img
{
	cursor: pointer;
	margin-right: 5px;
	margin-top: 2px;
}

#reply_input_submit,#reply_content_input_submit
{
	cursor: pointer;
	width: 36px;
	height: 20px;
	float: right;
	border: none;
	letter-spacing: 1px;
	background-color: rgba(0,144,204,0.5);
	border-radius: 3px;
	font: 12px "微软雅黑";
	color: #FFFFFF;
}

#reply_input_submit:hover,#reply_content_input_submit:hover
{
	background-color: rgba(0,144,204,1);
}

.reply_content
{
	padding: 10px 0;
	border-top: solid 1px #CCCCCC;
}

.reply_content_up
{
	text-align: left;
}

.reply_content_up div
{
	display: inline-block;
}

.reply_content_up_pic
{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #CCCCCC;
	border-radius: 5px;
	float: left;
	position: absolute;
}

.reply_content_up_content
{
	padding-left: 38px;
	display: inline-block;
	word-break: break-all;
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

.reply_content_down
{
	width: 100%;
	margin-top: 5px;
	text-align: left;
	font: 10px "微软雅黑",arial;
	color: #999999;
	font-size: 0;
/*　　-webkit-transform-origin-x: 0;
　　-webkit-transform: scale(0.83333333333333333333333333333333);*/
}

.reply_content_down_time
{
	display: inline-block;
	font-size: 12px;
	-webkit-transform-origin-x: 0;
　　	-webkit-transform: scale(0.83333333333333333333333333333333);
    line-height: 1em;
}

.reply_content_down_operate
{
	display: inline-block;
	float: right;
	font-size: 0;
	line-height: 1em;
}

.reply_content_down_operate span
{
	font: 10px "微软雅黑",arial;
	border-right: solid 1px #999999;
	display: inline-block;
	line-height: 1em;
	padding-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}

.reply_content_down_operate span:last-child
{
	padding: 0;
	border: none;
}

.reply_content_input
{
	margin-top: 10px;
	width: 215px;
	padding: 10px 5px;
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
}

.reply_content_input:before
{
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	margin-left: 72px;
    margin-top: -14px;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg); 
}

