@font-face { 
font-family: Hiragino Sans GB W3;
src: url('resources/font/Hiragino Sans GB W3.otf');
} 

@font-face { 
font-family: Hiragino Sans GB W6;
src: url('resources/font/Hiragino Sans GB W6.otf') format('otf');
}

*
{
	margin: 0;
	line-height: normal;
	letter-spacing: 1.5px;
}

ul
{
	list-style-type: none;
}

body
{
	min-width: 1208px;
	min-height: 700px;
	background-color: #F2F2F2;
}

.clearfloat:after
{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfloat
{
	zoom:1;
}

#main
{
	min-width: 1024px;
	height: 100%;
}

.header
{
	position: fixed;
	top: 0;
	left: 0;
	height: 64px;
	width: 100%;
	font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
	font-size: 13px;
	font-weight: 700;
	z-index: 999999;
	background-color: white;
	opacity: 0.9;
	box-shadow: 0 0 10px #666666;
	}

.header div
{
	vertical-align: top;
}


.footer
{
	position: relative;
	margin-top: 50px;
	width: 100%;
	background-color: #FFFFFF;
	height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#content
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: inherit;
	background-color: #BDBDBD;
}

#content_test
{
	min-width: 1024px;
	height: 100%;
	visibility: hidden;
}

.header_content
{
	position: relative;
	max-width: 65%;
	min-width: 1002px;
	margin: 0 auto;
}

.header_logo
{
	display: inline-block;
    padding: 8px 0;
}

.header_logo img
{
	width: 96px;
	height: 48px;
}

#header_logo_inner
{
	position: relative;
	top: 17px;
	height: 30px;
	background-color: aquamarine;
}

.header_logo_inner a:link img
{
	
}

.header_index
{
	margin-left: 80px;
    min-width: 562px;
    display: inline-block;
}

.index_seleted
{
	border-bottom:3px solid #F05656;
	background: rgba(245,245,245, 0.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bff5f5f5, endColorstr=#bff5f5f5);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.index_seleted_span
{
	color: #f66 !important;
}


.header_index div
{
	display: inline-block;
	cursor: pointer
}

.header_index span
{
	font-family: 'Arial Bold';
	font-weight: 700;
	color: #999;
}

.index_bottom_orange
{
	position: absolute;
	bottom: 0;
	border: hidden;
	visibility: hidden;
}

.header_index_all
{
	left: 80px;
	width: 80px;
	color: #f66 ;
	font-size: 16px;
	visibility: visible;
}

.header_index_all:hover
{
	border-bottom:3px solid #F05656;
	background: rgba(245,245,245, 0.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bff5f5f5, endColorstr=#bff5f5f5);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
}

#header_index_topic
{
	/*margin-left: 160px;*/
}

#header_index_subject
{
	/*margin-left: 80px;*/
}

#header_select
{
	right: 10px;
	width: 240px;
	cursor: auto;
	padding: 16px 0;
	margin-left: 100px;
}

.header_personal
{
	float: right;
	color: #999999;
	font-size: 0;
}

.header_index_text
{
	text-align: center;
	width: 80px;
	line-height: 64px;
	display: block;
}

#header_select_text
{
	position: relative;
	width: 100%;
	height: 32px;
}

#header_select_input
{
	border-color: #ff6666;
	height: 32px;
	line-height: 32px;
	width: 100%;
	border-radius: 5px;
	border:1px solid #FF6666;
	padding: 0 33px 0 10px;
	font-size: 14px;
	color: #999999;
	outline: none;
}

#header_select_input:focus
{
	color: #333333;
}

#select_line
{
	position: absolute;
	background-color: #f05656;
	width: 1px;
	height: 24px;
	right: 32px;
	top: 4px;
}

.header_search_button
{
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background: transparent url(../img/select01.png) center center no-repeat;
	border: 0;
	outline: none;
}

.header_select_text img{
	position: absolute;
	right: 0;
	top: 0;
}

.icon_message
{
	width: 48px;
}

.icon_message img
{
	margin: 16px 8px;
	cursor: pointer;
}

.header_message_count,.header_notic_count
{
	min-width: 5px;
	height: 13px;
	background-color: #F05656;
	border-radius: 7px;
	display: inline-block;
	position: absolute;
	top: 16px;
    left: 28px;
	font: 10px arial;
	color: #FFFFFF;
	text-align: center;
	padding: 0 4px;
	letter-spacing: 0;
	line-height: 13px;
}

.header_message_content
{
	height: 192px !important;
	width: 96px;
	position: absolute;
	background-color: #FFFFFF;
	left: -24px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
	visibility: hidden;
	/*display: none;*//*测试*/
}

.header_message_content ul li
{
	height: 32px;
	padding: 0 10px;
}

.message_content_hover
{
	background-color: #F2F2F2;
}

.header_message_content ul li:hover
{
	background-color: #F2F2F2;
	color: #F05656;
}

.header_message_content ul li a
{
	height: 100%;
    width: 100%;
    font: 12px "微软雅黑";
    color: #666666;
    display: inline-block;
    line-height: 32px;
    text-decoration: none;
}

.header_message_content ul li .message_content_num
{
	color: #F05656;
	line-height: 32px;
	float: right;
	font: 11px arial;
	margin-top: 9px;
}

.header_notice_content
{
	height: auto !important;
	width: 230px;
	position: absolute;
	background-color: #FFFFFF;
	left: -91px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
	visibility: hidden;
}

.visibility_change{
	visibility: visible;
}

.notice_content_up{
	height: 32px !important;
	padding: 0 39px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	overflow: hidden;
}

.header_notice_content ul{
	overflow: auto;
}

.header_notice_content ul li{
	height: 56px;
	border-bottom: solid 1px #CCCCCC;
	padding: 10px;
}

.notice_content_pic{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #444444;
	float: left;
	border-radius: 50%;
	margin-top: 3px;
}

.notice_content_area{
	display: inline-block;
	width: 170px;
	height: 30px;
	margin-left: 10px;
	float: left;
}

.notice_content_name{
	font: 12px "微软雅黑";
	margin-bottom: 5px;
	height: auto !important;
	
}

.notice_content_name a:link{
	color: #0090CC;
	text-decoration: none;
}

.notice_content_text{
	font: 11px "微软雅黑";
	color: #333;
	background-color: #E4E4E4;
	position: relative;
	height: auto !important;
	border-radius: 5px;
	padding: 0 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

.notice_content_text:before{
	content: "";
	position: absolute;
	left: 10px;
	top: -4px;
	border-bottom: solid 4px #E4E4E4;
	border-left: solid 4px transparent;
	border-right: solid 4px transparent;
}

.notice_content_bottom{
	height: 32px !important;
	border-top: solid 1px #ebebeb;
	overflow: hidden;
	background-color: #F2F2F2;
	font: 12px "黑体";
	color: #666666;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.notice_content_up span{
	width: 64px;
	height: 100%;
	display: inline-block;
	margin: auto 6px;
	background-color: #FFFFFF;
	font: 14px "黑体";
	color: #666666;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}

.notice_content_up span:hover{
	border-bottom: solid 2px #f29c9f;
}

#header_notice
{
	display: inline-block;
	position: relative;
}

#header_message
{
	display: inline-block;
	position: relative;
}

.header_message_img:hover,.header_notic_img:hover
{
	background-color: #F2F2F2;
}

.personal_pic
{
	position: relative;
	display: inline-block;
	padding: 0 10px;
}

.personal_pic_unlogin
{
	position: relative;
	width: 35px;
	height: 35px;
	top: 14.5px;
	margin-right: 10px;
	cursor: pointer;
	display: inline-block;
}

.login_text,.register_text
{
	display: inline-block;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    line-height: 1.5em;
    margin-top: 23px;
}

.signUp
{
	position: absolute;
	right: 0;
	display: inline-block;
    font-size: 12px;
    vertical-align: top;
    line-height: 64px;
}

#login_text:hover,#register_text:hover
{
	color: #F05656;
}

.username
{
	display: inline-block;
    font-size: 12px;
    line-height: 64px;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.username a:active
{
	color: #F05656;
}

.username a:hover
{
	color: #F05656;
}

.personal_pic span:hover
{
	color: #F05656;
}


.content_fouce_area
{
	width: 100%;
	height: 100%;
	background-color: #FF9900;
}

.fouse_pic
{
	width: 100%;
	height: 100%;
}
/*
h3
{
	font-family: 'Hiragino Sans GB W6';
}*/

.footer-up
{
	width: 1002px;
	height: 130px;
	margin: auto;
}

.footer-bottom
{
	/*position: absolute;*/
	margin: auto;
	text-align: center;
	width: 1002px;
	height: 20px;
	font: 14px simhei;
	color: #999999;
	bottom: 0;
}

.footer-item
{
	margin-top: 20px;
	width: 230px;
	height: 90px;
	display: inline-block;
	text-align: center;
	float: left;
	border-right: solid 1px #CCCCCC;
}

.footer-item h5
{
	font: 14px simhei;
	color: #666666;
}

.footer-item p
{
	margin-top: 5px;
	font: 14px simhei;
	color: #999999;
	font-weight: 500;
}

.footer-item a
{
	text-decoration:none;
	color: #999999;
}

.footer-item a:hover
{
	color: #0090CC;
}

.upToTop
{
	position: fixed;
	bottom:10px;
	left: 50%;
	margin-left: 520px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font:bold 40px simhei;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-radius: 25px;
	text-decoration:none;
	z-index: 2;
	visibility: hidden;
}