.section_1,.section_2,.section_3
{
	position: absolute;
	width: 29%;
	top: 50%;
	left: 50%;
	/*background-image: url(../img/homepage/circle_out.png);*/
	/*background: url(../img/homepage/circle_out.png) no-repeat center center;*/
	background-repeat: no-repeat;
	display: none;
	
}

.section1 img
{
	width: 100%;
	height: 100%;
}

.section_img
{
	position: absolute;
	width: auto;
	height: auto;
	/*display: none;*/
}

.backgroundSet
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: blur(3px); /* Chrome, Opera */
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);    
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false); /* IE6~IE9 */
}

.background_img_display
{
	display: none;
}

.backgroundSet li
{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -30;
}

.backgroundSet li img
{
	width: 100%;
	height: 100%;
}

.black
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	top: 0;
	left: 0;
}


.slide1
{
	/*background: url(../img/homepage/fouce/fouce_1.jpg);*/
	background-size: 100%;
}
.slide2
{
	/*background: url(../img/homepage/fouce/fouce_2.jpg);*/
	background-size: 100%;
}
.slide3
{
	/*background: url(../img/homepage/fouce/fouce_3.jpg);*/
	background-size: 100%;
}
.slide4
{
	background: url(../img/homepage/fouce/fouce_4.jpg);
	background-size: 100%;
}

.sectionType
{
	position: absolute;
	z-index: 9;
}

.sectionType_span
{
	position: relative;
	width: 100%;
	/*height:500px;*/
	text-align: center;
	line-height: 75px;
	display: inline-block;
}

.sectionType h1
{
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-family: "黑体";
	line-height: 1.5em;
	font-weight: bold;
	color: #FF6666;
}

.sectionType p
{
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: 100;
	line-height: 1.5em;
	color: #FFFFFF;
}

.section_intro_area
{
	max-height: 300px;
	/*visibility: hidden;*/
	/*opacity: 0;*/
}



.section_intro_area h3
{
	color: #FFFFFF;
}

.section_intro_area p
{
	font: 16px "微软雅黑";
	text-indent: 2em;
	/*width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;*/
}

.section_intro_area li
{
	padding: 0 30px;
	position: absolute;
	opacity: 0;
	min-height: 200px;
	max-height: 250px;
}

.item_intro_disply
{
	visibility: hidden;
}

.section_intro_area a
{
	float: right;
}

.section_intro_area a:hover
{
	color: #FFFFFF;
}



.items_1,.items_2,.items_3,.items_4,.items_5,.items_6
{
	position: absolute;
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
}
.items_4,.items_5,.items_6
{
	right: 0;
}

.section2,.section3,.section4
{
	background-size: 100%;
}


